# Limpieza de datos

Vamos a aplicar el [checklist del Banco Mundial](https://dimewiki.worldbank.org/wiki/Checklist:_Data_Cleaning) en Python usando el [SciPy stack](https://www.scipy.org/stackspec.html), principalmente pandas

## 0. Prerequisitos

Aclaración: La próxima celda es para compatilibidad con Colab, NO ES RECOMENDADO realizar pip install desde un notebook.

In [1]:
import sys
in_colab = 'google.colab' in sys.modules

if in_colab:
  BASE_DIR = "https://github.com/DiploDatos/AnalisisYCuracion/raw/master/"
else:
  BASE_DIR = ".."
if 'ftfy' not in sys.modules:
    !pip install 'ftfy<5.6'

El sistema no puede encontrar el archivo especificado.

# 1. Importando los datos

# 1.1. Verificar que no hay problemas en la importación

In [2]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

Veamos de importar datos de proyectos de Kickstarter la plataforma de Crowdsourcing

In [3]:
kickstarter_2016 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201612.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x99 in position 11: invalid start byte

Por defecto Pandas falla si hay errores para leer datos https://pandas.pydata.org/pandas-docs/stable/io.html#error-handling

Por ahora cambiamos a un archivo más actualizado, volveremos a este error más adelante

In [4]:
kickstarter_2018 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv")

Veamos los datos cargados en el dataframe

In [5]:
kickstarter_2018

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.00,2016-02-26 13:38:27,52375.00,successful,224,US,52375.00,52375.00,50000.00
6,1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,1000.00,2014-12-01 18:30:44,1205.00,successful,16,US,1205.00,1205.00,1000.00
7,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17,25000.00,2016-02-01 20:05:12,453.00,failed,40,US,453.00,453.00,25000.00
8,1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29,125000.00,2014-04-24 18:14:43,8233.00,canceled,58,US,8233.00,8233.00,125000.00
9,100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10,65000.00,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,6240.57,65000.00
10,100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09,2500.00,2013-09-09 18:19:37,0.00,failed,0,CA,0.00,0.00,2406.39
11,100005484,Lisa Lim New CD!,Indie Rock,Music,USD,2013-04-08,12500.00,2013-03-09 06:42:58,12700.00,successful,100,US,12700.00,12700.00,12500.00
12,1000055792,The Cottage Market,Crafts,Crafts,USD,2014-10-02,5000.00,2014-09-02 17:11:50,0.00,failed,0,US,0.00,0.00,5000.00
13,1000056157,G-Spot Place for Gamers to connect with eachot...,Games,Games,USD,2016-03-25,200000.00,2016-02-09 23:01:12,0.00,failed,0,US,0.00,0.00,200000.00
14,1000057089,Tombstone: Old West tabletop game and miniatur...,Tabletop Games,Games,GBP,2017-05-03,5000.00,2017-04-05 19:44:18,94175.00,successful,761,GB,57763.78,121857.33,6469.73
15,1000064368,Survival Rings,Design,Design,USD,2015-02-28,2500.00,2015-01-29 02:10:53,664.00,failed,11,US,664.00,664.00,2500.00
16,1000064918,The Beard,Comic Books,Comics,USD,2014-11-08,1500.00,2014-10-09 22:27:52,395.00,failed,16,US,395.00,395.00,1500.00
17,1000068480,Notes From London: Above & Below,Art Books,Publishing,USD,2015-05-10,3000.00,2015-04-10 21:20:54,789.00,failed,20,US,789.00,789.00,3000.00
18,1000070642,Mike Corey's Darkness & Light Album,Music,Music,USD,2012-08-17,250.00,2012-08-02 14:11:32,250.00,successful,7,US,250.00,250.00,250.00
19,1000071625,Boco Tea,Food,Food,USD,2012-06-02,5000.00,2012-05-03 17:24:32,1781.00,failed,40,US,1781.00,1781.00,5000.00
20,1000072011,CMUK. Shoes: Take on Life Feet First.,Fashion,Fashion,USD,2013-12-30,20000.00,2013-11-25 07:06:11,34268.00,successful,624,US,34268.00,34268.00,20000.00
21,1000081649,MikeyJ clothing brand fundraiser,Childrenswear,Fashion,AUD,2017-09-07,2500.00,2017-08-08 01:20:20,1.00,failed,1,AU,0.00,0.81,2026.10
22,1000082254,Alice in Wonderland in G Minor,Theater,Theater,USD,2014-06-15,3500.00,2014-05-16 10:10:38,650.00,failed,12,US,650.00,650.00,3500.00
23,1000087442,Mountain brew: A quest for alcohol sustainability,Drinks,Food,NOK,2015-02-25,500.00,2015-01-26 19:17:33,48.00,failed,3,NO,6.18,6.29,65.55
24,1000091520,The Book Zoo - A Mini-Comic,Comics,Comics,USD,2014-11-12,175.00,2014-10-23 17:15:50,701.66,successful,66,US,701.66,701.66,175.00
25,1000102741,Matt Cavenaugh & Jenny Powers make their 1st a...,Music,Music,USD,2011-01-06,10000.00,2010-12-07 23:16:50,15827.00,successful,147,US,15827.00,15827.00,10000.00
26,1000103948,Superhero Teddy Bear,DIY,Crafts,GBP,2016-01-05,12000.00,2015-12-06 20:09:06,0.00,failed,0,GB,0.00,0.00,17489.65
27,1000104688,Permaculture Skills,Webseries,Film & Video,CAD,2014-12-14,17757.00,2014-11-14 18:02:00,48905.00,successful,571,CA,43203.25,42174.03,15313.04
28,1000104953,Rebel Army Origins: The Heroic Story Of Major ...,Comics,Comics,GBP,2016-01-28,100.00,2015-12-29 16:59:29,112.38,successful,27,GB,167.70,160.60,142.91
29,100011318,My Moon - Animated Short Film,Animation,Film & Video,USD,2017-05-03,50000.00,2017-04-03 17:11:33,57577.31,successful,840,US,10120.00,57577.31,50000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378631,999832803,MONSTROCARDS- A Creative Drawing Game of Horri...,Playing Cards,Games,USD,2014-10-03,10000.00,2014-09-03 19:53:50,13861.50,successful,413,US,13861.50,13861.50,10000.00
378632,99984851,"""Loreto""",Comedy,Film & Video,USD,2014-06-05,12000.00,2014-05-06 23:50:34,0.00,failed,0,US,0.00,0.00,12000.00
378633,999865831,STATE OF G - Men's Blazer Jacket & Women's Car...,Apparel,Fashion,USD,2014-12-13,25000.00,2014-11-13 17:16:17,11643.00,failed,97,US,11643.00,11643.00,25000.00
378634,999867839,Transcaucasia,Photography,Photography,USD,2011-01-08,4000.00,2010-11-08 02:43:59,3531.00,failed,37,US,3531.00,3531.00,4000.00
378635,99987261,"You're Not Cis, You Just Think You Are: My Enb...",Nonfiction,Publishing,USD,2015-09-24,800.00,2015-08-25 22:37:14,70.00,failed,5,US,70.00,70.00,800.00
378636,999877902,Little Saturday's Debut Album,Country & Folk,Music,CAD,2014-12-17,5000.00,2014-11-17 17:50:12,5435.00,successful,78,CA,4814.88,4686.96,4311.83
378637,999878813,Ways to Look at the Moon,Shorts,Film & Video,USD,2017-10-13,10000.00,2017-08-29 06:57:28,10245.00,successful,123,US,145.00,10245.00,10000.00
378638,999880710,Terminal Uniqueness,Nonfiction,Publishing,USD,2014-08-15,5000.00,2014-07-15 02:10:39,18.00,failed,5,US,18.00,18.00,5000.00
378639,999884445,Superette Tea - Boldly Caffeinated Loose Leaf Tea,Drinks,Food,USD,2015-12-03,5000.00,2015-11-03 13:04:14,5579.00,successful,103,US,5579.00,5579.00,5000.00
378640,999893629,Ciridian Helix (Canceled),Fiction,Publishing,USD,2014-09-11,1000.00,2014-08-08 21:49:31,100.00,canceled,2,US,100.00,100.00,1000.00
378641,99991751,Here is the oasis for the youngest in the world.,Product Design,Design,CHF,2015-09-04,80000.00,2015-07-06 18:00:47,0.00,failed,0,CH,0.00,0.00,82207.27
378642,999929142,ÉPOUVANTAILS : 28mm Figurines de jeux pour KIN...,Tabletop Games,Games,EUR,2017-10-31,1000.00,2017-10-04 11:26:44,1246.00,successful,35,FR,66.72,1452.47,1165.70
378643,999931480,Google Glass Shield (Canceled),3D Printing,Technology,USD,2014-05-26,6500.00,2014-05-05 20:22:45,0.00,canceled,0,US,0.00,0.00,6500.00
378644,999934908,The Manual Bar Blade,Product Design,Design,USD,2015-12-15,3500.00,2015-11-23 07:33:14,6169.00,successful,120,US,6169.00,6169.00,3500.00
378645,999941823,The Chronicles of Erinoth - A Graphic Novel,Comics,Comics,GBP,2013-10-10,16000.00,2013-09-10 22:45:26,2738.00,failed,38,GB,4281.15,4374.99,25566.05
378646,999943841,The Dog Coffee Book,Children's Books,Publishing,USD,2013-11-30,950.00,2013-10-18 21:35:04,1732.02,successful,31,US,1732.02,1732.02,950.00
378647,999950812,The Cease is Increase,Nonfiction,Publishing,USD,2012-09-14,4999.00,2012-08-15 17:11:00,980.00,failed,16,US,980.00,980.00,4999.00
378648,999955533,Cards and Chit Network Season 2! (Canceled),Tabletop Games,Games,USD,2016-02-23,500.00,2016-01-24 16:03:27,121.00,canceled,5,US,121.00,121.00,500.00
378649,999963618,Colorado International Activism Film Festival,Narrative Film,Film & Video,USD,2017-04-09,500.00,2017-02-08 02:28:44,135.00,failed,6,US,45.00,135.00,500.00
378650,99996661,Date Seat - Boston iOS App,Apps,Technology,USD,2016-09-05,6000.00,2016-07-29 15:36:29,0.00,failed,0,US,0.00,0.00,6000.00
378651,999969812,AT THE BEACH,Classical Music,Music,CAD,2014-03-22,5000.00,2014-02-20 01:00:16,5501.00,successful,78,CA,5019.92,4983.69,4529.81
378652,999971898,Beach Wrestling Documentary,Documentary,Film & Video,NOK,2015-04-28,20000.00,2015-03-29 21:30:33,21500.00,successful,36,NO,2698.97,2875.83,2675.19
378653,999972264,Islanda,Documentary,Film & Video,USD,2012-03-16,1700.00,2012-02-15 04:31:10,25.00,failed,1,US,25.00,25.00,1700.00
378654,999975836,"Homemade fresh dog food, Cleveland OH",Small Batch,Food,USD,2017-04-19,6500.00,2017-03-20 22:08:22,154.00,failed,4,US,0.00,154.00,6500.00
378655,999976312,Angela's Poetry (Canceled),Poetry,Publishing,CAD,2014-09-20,5500.00,2014-08-06 03:46:07,0.00,canceled,0,CA,0.00,0.00,4949.60
378656,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,50000.00,2014-09-17 02:35:30,25.00,canceled,1,US,25.00,25.00,50000.00
378657,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,1500.00,2011-06-22 03:35:14,155.00,failed,5,US,155.00,155.00,1500.00
378658,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,15000.00,2010-07-01 19:40:30,20.00,failed,1,US,20.00,20.00,15000.00
378659,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000.00,2016-01-13 18:13:53,200.00,failed,6,US,200.00,200.00,15000.00
378660,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2000.00,2011-07-19 09:07:47,524.00,failed,17,US,524.00,524.00,2000.00

Por defecto solo vemos los valores al comienzo o al final del archivo.

Tomemos una muestra al azar para ver valores más dispersos

In [6]:
# set seed for reproducibility
import numpy as np
np.random.seed(0)

In [7]:
kickstarter_2018.sample(5)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
338862,796196901,10G Christmas Tree,Art,Art,USD,2010-12-26,10526.00,2010-12-08 08:44:04,0.00,failed,0,US,0.00,0.00,10526.00
277871,483825010,Gliff,Gaming Hardware,Games,USD,2016-03-28,10000.00,2016-01-28 04:56:18,51.00,failed,5,US,51.00,51.00,10000.00
47000,123916947,STUFFED Food Truck,Food Trucks,Food,USD,2015-01-06,60000.00,2014-11-07 02:24:36,25.00,failed,1,US,25.00,25.00,60000.00
111338,1565733636,NeoExodus Adventure: Origin of Man for Pathfin...,Tabletop Games,Games,USD,2012-05-01,500.00,2012-03-15 01:16:10,585.00,successful,17,US,585.00,585.00,500.00
53743,1273544891,NAPOLEON IN NEW YORK! an original TV Series,Comedy,Film & Video,USD,2016-07-26,25000.00,2016-05-27 00:07:25,25.00,failed,1,US,25.00,25.00,25000.00

No se observa a simple vista ningún problema obvio.

Notar que todos vimos los mismos resultados. Al fijar la semilla no hubo tal azar, esto es algo necesario cuando queremos "reproducir valores aleatorios"

Veamos la descripción del dataset si se corresponde con lo levantado https://www.kaggle.com/kemical/kickstarter-projects/data

In [8]:
pd.DataFrame([["ID", "No description provided", "Numeric"],
["name", "No description provided", "String"],
["category", "No description provided", "String"],
["main_category", "No description provided", "String"],
["currency", "No description provided", "String"],
["deadline", "No description provided", "DateTime"],
["goal", "Goal amount in project currency", "Numeric"],
["launched", "No description provided", "DateTime"],
["pledged", "Pledged amount in the project currency", "Numeric"],
["state", "No description provided", "String"],
["backers", "No description provided", "Numeric"],
["country", "No description provided", "String"],
["usd pledged", "Pledged amount in USD (conversion made by KS)", "Numeric"],
["usd_pledged_real", "Pledged amount in USD (conversion made by fixer.io api)", "Numeric"],
["usd_goal_real", "Goal amount in USD", "Numeric"]], columns=["Field name","Field description", "Type"])

,Field name,Field description,Type
0,ID,No description provided,Numeric
1,name,No description provided,String
2,category,No description provided,String
3,main_category,No description provided,String
4,currency,No description provided,String
5,deadline,No description provided,DateTime
6,goal,Goal amount in project currency,Numeric
7,launched,No description provided,DateTime
8,pledged,Pledged amount in the project currency,Numeric
9,state,No description provided,String
10,backers,No description provided,Numeric
11,country,No description provided,String
12,usd pledged,Pledged amount in USD (conversion made by KS),Numeric
13,usd_pledged_real,Pledged amount in USD (conversion made by fixe...,Numeric
14,usd_goal_real,Goal amount in USD,Numeric

Ahora veamos los tipos de datos que detectó pandas

In [9]:
kickstarter_2018.dtypes

ID                    int64
name                 object
category             object
main_category        object
currency             object
deadline             object
goal                float64
launched             object
pledged             float64
state                object
backers               int64
country              object
usd pledged         float64
usd_pledged_real    float64
usd_goal_real       float64
dtype: object

Los campos object generalmente son String, entonces parece que no reconoció como fechas en **deadline** y **launched** :(

Veamos los datos un resumen de los datos

In [10]:
kickstarter_2018.describe()

,ID,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,378661.00,378661.00,378661.00,378661.00,374864.00,378661.00,378661.00
mean,1074731191.99,49080.79,9682.98,105.62,7036.73,9058.92,45454.40
std,619086204.32,1183391.26,95636.01,907.19,78639.75,90973.34,1152950.06
min,5971.00,0.01,0.00,0.00,0.00,0.00,0.01
25%,538263516.00,2000.00,30.00,2.00,16.98,31.00,2000.00
50%,1075275634.00,5200.00,620.00,12.00,394.72,624.33,5500.00
75%,1610148624.00,16000.00,4076.00,56.00,3034.09,4050.00,15500.00
max,2147476221.00,100000000.00,20338986.27,219382.00,20338986.27,20338986.27,166361390.71

Por defecto se ven los datos numéricos, veamos el resto.

In [11]:
kickstarter_2018.describe(include=['object'])

,name,category,main_category,currency,deadline,launched,state,country
count,378657,378661,378661,378661,378661,378661,378661,378661
unique,375764,159,15,14,3164,378089,6,23
top,New EP/Music Development,Product Design,Film & Video,USD,2014-08-08,1970-01-01 01:00:00,failed,US
freq,41,22314,63585,295365,705,7,197719,292627

Operemos un cacho sobre los datos de lanzamiento

In [12]:
kickstarter_2018['launched'].min()

'1970-01-01 01:00:00'

Parece funcionar, pero ahora calculemos el rango de fechas de los proyectos

In [13]:
kickstarter_2018['launched'].max() - kickstarter_2018['launched'].min()

TypeError: unsupported operand type(s) for -: 'str' and 'str'

Indiquemos que columnas son fechas como indica la [documentación](https://pandas.pydata.org/pandas-docs/stable/io.html#datetime-handling)

In [14]:
kickstarter_2018 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv", 
                               parse_dates=["deadline","launched"])
kickstarter_2018.dtypes

ID                           int64
name                        object
category                    object
main_category               object
currency                    object
deadline            datetime64[ns]
goal                       float64
launched            datetime64[ns]
pledged                    float64
state                       object
backers                      int64
country                     object
usd pledged                float64
usd_pledged_real           float64
usd_goal_real              float64
dtype: object

Ahora vemos que esas columnas fueron reconocidas como fechas

Veamos la misma muestra de nuevo

In [15]:
kickstarter_2018.sample(5)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
299667,595962034,Button Poetry Live!,Mixed Media,Art,USD,2015-09-18,10000.00,2015-08-19 19:34:20,18216.27,successful,455,US,18216.27,18216.27,10000.00
181674,1924707671,"C STREET 2012 : Tbilisi, Georgia",World Music,Music,USD,2012-06-07,5000.00,2012-05-08 18:22:59,7210.69,successful,82,US,7210.69,7210.69,5000.00
137583,1698707842,Dérive's Next Project,Punk,Music,USD,2014-07-06,1200.00,2014-06-08 17:58:37,1255.66,successful,33,US,1255.66,1255.66,1200.00
296861,581269566,Photo Book - World Santa Claus Congress,Photobooks,Photography,DKK,2017-04-14,110000.00,2017-03-14 23:45:35,462.00,failed,5,DK,0.00,66.46,15823.47
66362,1337585114,Kickstart CLE Brewing to greatness!,Drinks,Food,USD,2017-08-19,6500.00,2017-07-20 21:22:43,250.00,failed,5,US,75.00,250.00,6500.00

Y veamos el resumen de los datos

In [16]:
kickstarter_2018.describe(include='all')

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
count,378661.00,378657,378661,378661,378661,378661,378661.00,378661,378661.00,378661,378661.00,378661,374864.00,378661.00,378661.00
unique,nan,375764,159,15,14,3164,nan,378089,nan,6,nan,23,nan,nan,nan
top,nan,New EP/Music Development,Product Design,Film & Video,USD,2014-08-08 00:00:00,nan,1970-01-01 01:00:00,nan,failed,nan,US,nan,nan,nan
freq,nan,41,22314,63585,295365,705,nan,7,nan,197719,nan,292627,nan,nan,nan
first,nan,NaN,NaN,NaN,NaN,2009-05-03 00:00:00,nan,1970-01-01 01:00:00,nan,NaN,nan,NaN,nan,nan,nan
last,nan,NaN,NaN,NaN,NaN,2018-03-03 00:00:00,nan,2018-01-02 15:02:31,nan,NaN,nan,NaN,nan,nan,nan
mean,1074731191.99,NaN,NaN,NaN,NaN,NaN,49080.79,NaN,9682.98,NaN,105.62,NaN,7036.73,9058.92,45454.40
std,619086204.32,NaN,NaN,NaN,NaN,NaN,1183391.26,NaN,95636.01,NaN,907.19,NaN,78639.75,90973.34,1152950.06
min,5971.00,NaN,NaN,NaN,NaN,NaN,0.01,NaN,0.00,NaN,0.00,NaN,0.00,0.00,0.01
25%,538263516.00,NaN,NaN,NaN,NaN,NaN,2000.00,NaN,30.00,NaN,2.00,NaN,16.98,31.00,2000.00
50%,1075275634.00,NaN,NaN,NaN,NaN,NaN,5200.00,NaN,620.00,NaN,12.00,NaN,394.72,624.33,5500.00
75%,1610148624.00,NaN,NaN,NaN,NaN,NaN,16000.00,NaN,4076.00,NaN,56.00,NaN,3034.09,4050.00,15500.00
max,2147476221.00,NaN,NaN,NaN,NaN,NaN,100000000.00,NaN,20338986.27,NaN,219382.00,NaN,20338986.27,20338986.27,166361390.71

Podemos ver que tenemos primero y último en el resumen de las columnas de fechas.

Ahora deberíamos poder calcular el rango de fechas de lanzamietos

In [17]:
kickstarter_2018['launched'].max() - kickstarter_2018['launched'].min()

Timedelta('17533 days 14:02:31')

# 1.2. Asegurar de tener ids/claves únicas

Chequear que no hay datos duplicados

In [18]:
kickstarter_2018.shape

(378661, 15)

Pandas soporta índices en los DataFrames vamos a recargar el conjunto de datos

In [19]:
kickstarter_2018 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv", 
                               parse_dates=["deadline","launched"],
                               index_col=['ID'])

In [20]:
kickstarter_2018

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00
1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.00,2016-02-26 13:38:27,52375.00,successful,224,US,52375.00,52375.00,50000.00
1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21,1000.00,2014-12-01 18:30:44,1205.00,successful,16,US,1205.00,1205.00,1000.00
1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17,25000.00,2016-02-01 20:05:12,453.00,failed,40,US,453.00,453.00,25000.00
1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29,125000.00,2014-04-24 18:14:43,8233.00,canceled,58,US,8233.00,8233.00,125000.00
100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10,65000.00,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,6240.57,65000.00
100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09,2500.00,2013-09-09 18:19:37,0.00,failed,0,CA,0.00,0.00,2406.39
100005484,Lisa Lim New CD!,Indie Rock,Music,USD,2013-04-08,12500.00,2013-03-09 06:42:58,12700.00,successful,100,US,12700.00,12700.00,12500.00
1000055792,The Cottage Market,Crafts,Crafts,USD,2014-10-02,5000.00,2014-09-02 17:11:50,0.00,failed,0,US,0.00,0.00,5000.00
1000056157,G-Spot Place for Gamers to connect with eachot...,Games,Games,USD,2016-03-25,200000.00,2016-02-09 23:01:12,0.00,failed,0,US,0.00,0.00,200000.00
1000057089,Tombstone: Old West tabletop game and miniatur...,Tabletop Games,Games,GBP,2017-05-03,5000.00,2017-04-05 19:44:18,94175.00,successful,761,GB,57763.78,121857.33,6469.73
1000064368,Survival Rings,Design,Design,USD,2015-02-28,2500.00,2015-01-29 02:10:53,664.00,failed,11,US,664.00,664.00,2500.00
1000064918,The Beard,Comic Books,Comics,USD,2014-11-08,1500.00,2014-10-09 22:27:52,395.00,failed,16,US,395.00,395.00,1500.00
1000068480,Notes From London: Above & Below,Art Books,Publishing,USD,2015-05-10,3000.00,2015-04-10 21:20:54,789.00,failed,20,US,789.00,789.00,3000.00
1000070642,Mike Corey's Darkness & Light Album,Music,Music,USD,2012-08-17,250.00,2012-08-02 14:11:32,250.00,successful,7,US,250.00,250.00,250.00
1000071625,Boco Tea,Food,Food,USD,2012-06-02,5000.00,2012-05-03 17:24:32,1781.00,failed,40,US,1781.00,1781.00,5000.00
1000072011,CMUK. Shoes: Take on Life Feet First.,Fashion,Fashion,USD,2013-12-30,20000.00,2013-11-25 07:06:11,34268.00,successful,624,US,34268.00,34268.00,20000.00
1000081649,MikeyJ clothing brand fundraiser,Childrenswear,Fashion,AUD,2017-09-07,2500.00,2017-08-08 01:20:20,1.00,failed,1,AU,0.00,0.81,2026.10
1000082254,Alice in Wonderland in G Minor,Theater,Theater,USD,2014-06-15,3500.00,2014-05-16 10:10:38,650.00,failed,12,US,650.00,650.00,3500.00
1000087442,Mountain brew: A quest for alcohol sustainability,Drinks,Food,NOK,2015-02-25,500.00,2015-01-26 19:17:33,48.00,failed,3,NO,6.18,6.29,65.55
1000091520,The Book Zoo - A Mini-Comic,Comics,Comics,USD,2014-11-12,175.00,2014-10-23 17:15:50,701.66,successful,66,US,701.66,701.66,175.00
1000102741,Matt Cavenaugh & Jenny Powers make their 1st a...,Music,Music,USD,2011-01-06,10000.00,2010-12-07 23:16:50,15827.00,successful,147,US,15827.00,15827.00,10000.00
1000103948,Superhero Teddy Bear,DIY,Crafts,GBP,2016-01-05,12000.00,2015-12-06 20:09:06,0.00,failed,0,GB,0.00,0.00,17489.65
1000104688,Permaculture Skills,Webseries,Film & Video,CAD,2014-12-14,17757.00,2014-11-14 18:02:00,48905.00,successful,571,CA,43203.25,42174.03,15313.04
1000104953,Rebel Army Origins: The Heroic Story Of Major ...,Comics,Comics,GBP,2016-01-28,100.00,2015-12-29 16:59:29,112.38,successful,27,GB,167.70,160.60,142.91
100011318,My Moon - Animated Short Film,Animation,Film & Video,USD,2017-05-03,50000.00,2017-04-03 17:11:33,57577.31,successful,840,US,10120.00,57577.31,50000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999832803,MONSTROCARDS- A Creative Drawing Game of Horri...,Playing Cards,Games,USD,2014-10-03,10000.00,2014-09-03 19:53:50,13861.50,successful,413,US,13861.50,13861.50,10000.00
99984851,"""Loreto""",Comedy,Film & Video,USD,2014-06-05,12000.00,2014-05-06 23:50:34,0.00,failed,0,US,0.00,0.00,12000.00
999865831,STATE OF G - Men's Blazer Jacket & Women's Car...,Apparel,Fashion,USD,2014-12-13,25000.00,2014-11-13 17:16:17,11643.00,failed,97,US,11643.00,11643.00,25000.00
999867839,Transcaucasia,Photography,Photography,USD,2011-01-08,4000.00,2010-11-08 02:43:59,3531.00,failed,37,US,3531.00,3531.00,4000.00
99987261,"You're Not Cis, You Just Think You Are: My Enb...",Nonfiction,Publishing,USD,2015-09-24,800.00,2015-08-25 22:37:14,70.00,failed,5,US,70.00,70.00,800.00
999877902,Little Saturday's Debut Album,Country & Folk,Music,CAD,2014-12-17,5000.00,2014-11-17 17:50:12,5435.00,successful,78,CA,4814.88,4686.96,4311.83
999878813,Ways to Look at the Moon,Shorts,Film & Video,USD,2017-10-13,10000.00,2017-08-29 06:57:28,10245.00,successful,123,US,145.00,10245.00,10000.00
999880710,Terminal Uniqueness,Nonfiction,Publishing,USD,2014-08-15,5000.00,2014-07-15 02:10:39,18.00,failed,5,US,18.00,18.00,5000.00
999884445,Superette Tea - Boldly Caffeinated Loose Leaf Tea,Drinks,Food,USD,2015-12-03,5000.00,2015-11-03 13:04:14,5579.00,successful,103,US,5579.00,5579.00,5000.00
999893629,Ciridian Helix (Canceled),Fiction,Publishing,USD,2014-09-11,1000.00,2014-08-08 21:49:31,100.00,canceled,2,US,100.00,100.00,1000.00
99991751,Here is the oasis for the youngest in the world.,Product Design,Design,CHF,2015-09-04,80000.00,2015-07-06 18:00:47,0.00,failed,0,CH,0.00,0.00,82207.27
999929142,ÉPOUVANTAILS : 28mm Figurines de jeux pour KIN...,Tabletop Games,Games,EUR,2017-10-31,1000.00,2017-10-04 11:26:44,1246.00,successful,35,FR,66.72,1452.47,1165.70
999931480,Google Glass Shield (Canceled),3D Printing,Technology,USD,2014-05-26,6500.00,2014-05-05 20:22:45,0.00,canceled,0,US,0.00,0.00,6500.00
999934908,The Manual Bar Blade,Product Design,Design,USD,2015-12-15,3500.00,2015-11-23 07:33:14,6169.00,successful,120,US,6169.00,6169.00,3500.00
999941823,The Chronicles of Erinoth - A Graphic Novel,Comics,Comics,GBP,2013-10-10,16000.00,2013-09-10 22:45:26,2738.00,failed,38,GB,4281.15,4374.99,25566.05
999943841,The Dog Coffee Book,Children's Books,Publishing,USD,2013-11-30,950.00,2013-10-18 21:35:04,1732.02,successful,31,US,1732.02,1732.02,950.00
999950812,The Cease is Increase,Nonfiction,Publishing,USD,2012-09-14,4999.00,2012-08-15 17:11:00,980.00,failed,16,US,980.00,980.00,4999.00
999955533,Cards and Chit Network Season 2! (Canceled),Tabletop Games,Games,USD,2016-02-23,500.00,2016-01-24 16:03:27,121.00,canceled,5,US,121.00,121.00,500.00
999963618,Colorado International Activism Film Festival,Narrative Film,Film & Video,USD,2017-04-09,500.00,2017-02-08 02:28:44,135.00,failed,6,US,45.00,135.00,500.00
99996661,Date Seat - Boston iOS App,Apps,Technology,USD,2016-09-05,6000.00,2016-07-29 15:36:29,0.00,failed,0,US,0.00,0.00,6000.00
999969812,AT THE BEACH,Classical Music,Music,CAD,2014-03-22,5000.00,2014-02-20 01:00:16,5501.00,successful,78,CA,5019.92,4983.69,4529.81
999971898,Beach Wrestling Documentary,Documentary,Film & Video,NOK,2015-04-28,20000.00,2015-03-29 21:30:33,21500.00,successful,36,NO,2698.97,2875.83,2675.19
999972264,Islanda,Documentary,Film & Video,USD,2012-03-16,1700.00,2012-02-15 04:31:10,25.00,failed,1,US,25.00,25.00,1700.00
999975836,"Homemade fresh dog food, Cleveland OH",Small Batch,Food,USD,2017-04-19,6500.00,2017-03-20 22:08:22,154.00,failed,4,US,0.00,154.00,6500.00
999976312,Angela's Poetry (Canceled),Poetry,Publishing,CAD,2014-09-20,5500.00,2014-08-06 03:46:07,0.00,canceled,0,CA,0.00,0.00,4949.60
999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,50000.00,2014-09-17 02:35:30,25.00,canceled,1,US,25.00,25.00,50000.00
999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,1500.00,2011-06-22 03:35:14,155.00,failed,5,US,155.00,155.00,1500.00
999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,15000.00,2010-07-01 19:40:30,20.00,failed,1,US,20.00,20.00,15000.00
999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000.00,2016-01-13 18:13:53,200.00,failed,6,US,200.00,200.00,15000.00
999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2000.00,2011-07-19 09:07:47,524.00,failed,17,US,524.00,524.00,2000.00

In [21]:
kickstarter_2018.shape

(378661, 14)

De esta forma podemos buscar por el índice

In [22]:
kickstarter_2018.loc[999988282]

name                Nou Renmen Ayiti!  We Love Haiti!
category                              Performance Art
main_category                                     Art
currency                                          USD
deadline                          2011-08-16 00:00:00
goal                                          2000.00
launched                          2011-07-19 09:07:47
pledged                                        524.00
state                                          failed
backers                                            17
country                                            US
usd pledged                                    524.00
usd_pledged_real                               524.00
usd_goal_real                                 2000.00
Name: 999988282, dtype: object

También podemos verificar si hay filas de contenidos duplicado

In [23]:
kickstarter_2018[kickstarter_2018.duplicated()]

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, usd_pledged_real, usd_goal_real]
Index: []

Como Pandas acepta valores duplicados en los índices también debemos verificar ahí

In [24]:
pd.Series(kickstarter_2018.index,dtype=str).describe()

count         378661
unique        378661
top       1757978228
freq               1
Name: ID, dtype: object

In [25]:
kickstarter_2018[kickstarter_2018.index.duplicated()]

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd pledged, usd_pledged_real, usd_goal_real]
Index: []

Repasamos con un ejemplo de juguete

In [26]:
csv='1,2\n3,3\n1,3'
print(csv)

1,2
3,3
1,3

In [27]:
from io import StringIO
df = pd.read_csv(StringIO(csv), names=['id','value'], index_col='id')
df

    value
id
1       2
3       3
1       3

In [28]:
df[df.duplicated()]

    value
id
1       3

In [29]:
df[df.index.duplicated(keep=False)]
#df[df.index.duplicated()]

    value
id
1       2
1       3

#### Ejercicio 1:

Armar una tabla con todos los proyectos con nombres duplicados, ordenados para revisar agrupados.

In [30]:
kickstarter_2018.query('name=="The Basement"')

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
1035863743,The Basement,Video Games,Games,USD,2015-01-08,8000.00,2014-12-05 22:22:40,406.00,failed,26,US,406.00,406.00,8000.00
1042208764,The Basement,Horror,Film & Video,USD,2015-05-07,12000.00,2015-04-07 18:24:19,12311.00,successful,106,US,12311.00,12311.00,12000.00
889825941,The Basement,Events,Food,CAD,2014-10-07,500000.00,2014-08-08 23:47:19,5.00,failed,1,CA,4.58,4.47,446548.18

In [31]:
# Importante poner keep=False, para que no elimine el duplicado... 
kickstarter_2018[kickstarter_2018.name.duplicated(keep=False)].sort_values('name').head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
816998285,"""...The Last shall be first..."" LODB Lifestyle...",Fashion,Fashion,USD,2014-02-09,6500.00,2013-12-19 21:51:50,0.00,canceled,0,US,0.00,0.00,6500.00
815783250,"""...The Last shall be first..."" LODB Lifestyle...",Fashion,Fashion,USD,2014-03-01,6500.00,2014-01-03 20:39:16,37.00,failed,3,US,37.00,37.00,6500.00
1010584633,"""A Fresh Start""",Shorts,Film & Video,USD,2011-09-25,3000.00,2011-08-28 21:27:52,3000.00,successful,24,US,3000.00,3000.00,3000.00
713417995,"""A Fresh Start""",Documentary,Film & Video,USD,2013-03-27,5000.00,2013-01-26 03:51:47,1417.00,failed,26,US,1417.00,1417.00,5000.00
1880084695,"""American Sports Stories"" - An Athletic Quest",Shorts,Film & Video,USD,2015-08-26,100000.00,2015-06-27 02:02:00,100.00,failed,1,US,100.00,100.00,100000.00

# 1.3. Despersonalizar datos y guardarlos en un nuevo archivo

Hay muuuchas técnicas para despersonalizar datos.

Para ilustrar mostramos las ofrecidas por Google https://cloud.google.com/dlp/docs/transformations-reference:

* **Reemplazo**: Reemplaza cada valor de entrada con un valor determinado.
* **Ocultamiento**: Quita un valor y lo oculta.
* **Enmascaramiento con caracteres**: Enmascara una string por completo o parcialmente mediante el reemplazo de un número determinado de caracteres con un carácter fijo especificado..
* **Seudonimización mediante el reemplazo de un valor de entrada con un hash criptográfico**: Reemplaza valores de entrada con una string hexadecimal de 32 bytes mediante una clave de encriptación de datos.
* **Cambio de fechas**: Cambia las fechas por un número de días al azar, con la opción de ser coherente en el mismo contexto..
* **Seudonimización mediante el reemplazo con token de preservación de formato criptográfico**: Reemplaza un valor de entrada con un token, o valor sustituto, de la misma longitud mediante la encriptación de preservación de formato (FPE) con el modo de operación FFX. Esto permite que se use el resultado en sistemas con validación de formato o que necesitan aparecer como reales a pesar de que la información no se revela.
* **Valores de depósito con base en rangos de tamaño fijos**: Enmascara los valores de entrada y los reemplaza por depósitos, o rangos dentro de los cuales se encuentra el valor de entrada.
* **Valores de depósito con base en rangos de tamaño personalizados**: Valores de entrada de depósito con base en rangos configurables por el usuario y valores de reemplazo.
* **Extracción de datos de tiempo**: EExtrae o preserva una porción de los valores Date, Timestamp y TimeOfDay.

In [32]:
from hashlib import md5

In [33]:
md5(b'22222').hexdigest()

'3d2172418ce305c7d16d4b05597c6a59'

In [34]:
# esta operacion es mala en terminos de performance, porque con apply, python tiene que recorrer todo
# conviene usar las operaciones vectoriales

kickstarter_2018['name'].apply(md5)

TypeError: Unicode-objects must be encoded before hashing

In [35]:
def hashit(val):
    return md5(val.encode('utf-8'))

kickstarter_2018['name'].apply(hashit)

AttributeError: 'float' object has no attribute 'encode'

In [36]:
def hashit(val):
    try:
        return md5(val.encode('utf-8'))
    except Exception as e:
        print("error raised: ",val, type(val))
        raise(e)

kickstarter_2018['name'].apply(hashit)

error raised:  nan <class 'float'>

AttributeError: 'float' object has no attribute 'encode'

In [37]:
def hashit(val):
    if isinstance(val, float): 
        return str(val)
    return md5(val.encode('utf-8')).hexdigest()


kickstarter_2018['name'].apply(hashit)

ID
1000002330    a6828ae8a2eca25f0dd7035efc0af0a0
1000003930    81609b3bdc0b96f429672d69702f2524
1000004038    c12f5c3bace2f0213cdb2679a265dca0
1000007540    4dbdcf09c86bbf5683ec39bc57b77f81
1000011046    9c01404a2ef702811c2088ce139042ad
1000014025    3a26b565c8396d4867dda27816836e04
1000023410    1602dce9289c950176c41ce124944335
1000030581    1abb0a27e1a3ce5a79965e3022c6bddc
1000034518    3b3a87aebec0d9c1b3a4a5e4da7a88a8
100004195     d7c53ef574a108d857d52087bb685244
100004721     eba20b66506f511bfacfe843176f5e15
100005484     9df25d0c0e2f8ea9de303f3d4efaf3c8
1000055792    717f62eae71408f00fa49227da83feae
1000056157    6532f0fa53550fd516921a2d7a1121d6
1000057089    799a510f874b6d47c1fde736d22cae3e
1000064368    93ebbffc751f9cc8d31e0147b7b1c7e3
1000064918    c10592831d537538905aefc12d54b49d
1000068480    0f109f9875645b801843775bbeadb1f1
1000070642    2d3d4b4267af87948bf7ac6d3ca13b54
1000071625    26c10e7de5df6269e71df1bf49ff4da9
1000072011    459cec5845add6a7f8fb1498cfc0e618
1000081649    717d11ee2f9e2bd87329f78a8d7bdc1c
1000082254    487618e937714fbcb32f9b598736648b
1000087442    8424232e00cc48fb064567323a261dc3
1000091520    7c5a6a64bac6118f314cf7929f0e28bc
1000102741    04c31ebb8ae046861909831eb3191575
1000103948    4c9142bd7323ce6b56845ad2b9fbd4df
1000104688    3c0a4fd740ea2c78ad43a9012ced6c31
1000104953    24a24cd343d1fe32402d2bd2c4cc2765
100011318     0f560a6815e2cc8a16c960a0345b55cd
                            ...
999832803     96e1db6ef56048946d06c4684b325f3b
99984851      7090c016667e74d9fe441a2c14f9060f
999865831     7a8b0e1864c9565fe4fae6150d13d043
999867839     8efaae0c43a5b3be635eba9d2d153998
99987261      9b8a19ba3e194d9feeafda8975c164e0
999877902     693e50d5d66041edcc8261ab2f90d262
999878813     4f829526c723be2a492c6f39d8e54bf3
999880710     c078e5341a21d0126b5fbc328d51f8b7
999884445     7a8363b7819549e1aaff6e36d704cc1d
999893629     40e958dcfd7529ed05bac962917ffb08
99991751      9d5b82a5986df3cc7fd8b86e16450e98
999929142     81a865de7fa5e6e465ca4b30a462f478
999931480     e31dd9639dceb81b16149a80270122cc
999934908     41dcad0d3c8bd1df1cfaf1f3f1a7a3ab
999941823     f491e66724288060ade741ccebdb06d0
999943841     d158f663c3b4863948fd2f3cfae9da26
999950812     8ebb80ca7c016467b75df389988ccf39
999955533     e53d15d590055d15095cd6cf7a0242aa
999963618     882197e4f447ba42579cce28551f4adc
99996661      91259861e10595aaf111dcaff67a0493
999969812     4f29e45b8842034257ae4a66775628b1
999971898     caad57bc3cc35ac755c4d3f80ad76272
999972264     f45882dc2c76b2a19db36056416a0819
999975836     94e7f96603f00c7e6c4e44f3b1460c55
999976312     a9c021911e5f53baf3b9eb8882a49974
999976400     d89228576343394467096843057f3aa4
999977640     bbcb30bd9bd4f9bff0a96fc44d0001f0
999986353     6c3094666e1a315b6e179566fe3972d9
999987933     887be409ad8b93f26084845a41d4c178
999988282     11f7ae3385c567df409deb5f4ac9a2a5
Name: name, Length: 378661, dtype: object

#### Ejercicio 2:

Verificar que los proyectos que tienen nombres duplicados también tienen el hash de nombre duplicado

In [38]:
# Importante poner keep=False, para que no elimine el duplicado... 
kickstarter_2018[kickstarter_2018.name.duplicated(keep=False)].sort_values('name')

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
816998285,"""...The Last shall be first..."" LODB Lifestyle...",Fashion,Fashion,USD,2014-02-09,6500.00,2013-12-19 21:51:50,0.00,canceled,0,US,0.00,0.00,6500.00
815783250,"""...The Last shall be first..."" LODB Lifestyle...",Fashion,Fashion,USD,2014-03-01,6500.00,2014-01-03 20:39:16,37.00,failed,3,US,37.00,37.00,6500.00
1010584633,"""A Fresh Start""",Shorts,Film & Video,USD,2011-09-25,3000.00,2011-08-28 21:27:52,3000.00,successful,24,US,3000.00,3000.00,3000.00
713417995,"""A Fresh Start""",Documentary,Film & Video,USD,2013-03-27,5000.00,2013-01-26 03:51:47,1417.00,failed,26,US,1417.00,1417.00,5000.00
1880084695,"""American Sports Stories"" - An Athletic Quest",Shorts,Film & Video,USD,2015-08-26,100000.00,2015-06-27 02:02:00,100.00,failed,1,US,100.00,100.00,100000.00
422509694,"""American Sports Stories"" - An Athletic Quest",Television,Film & Video,USD,2017-05-14,100000.00,2017-04-14 00:08:52,1.00,failed,1,US,25.00,1.00,100000.00
866225086,"""City of Mercy"" (Canceled)",Film & Video,Film & Video,USD,2015-02-26,20000.00,2015-01-27 19:30:43,7248.00,canceled,9,US,7248.00,7248.00,20000.00
1760892298,"""City of Mercy"" (Canceled)",Television,Film & Video,USD,2014-08-28,15000.00,2014-07-29 13:12:21,11260.00,canceled,7,US,11260.00,11260.00,15000.00
1999958521,"""Color"" Music Video",Film & Video,Film & Video,USD,2016-06-06,5000.00,2016-05-07 01:56:36,0.00,canceled,0,"N,0""",nan,0.00,5000.00
870322805,"""Color"" Music Video",Music,Music,USD,2015-09-16,1100.00,2015-09-02 00:03:02,1100.00,undefined,0,"N,0""",nan,1100.00,1100.00
1413519345,"""Cut From the Illest Cloth"" - The Brand New Fu...",Hip-Hop,Music,USD,2014-03-26,9000.00,2014-03-01 19:32:15,1010.00,canceled,25,US,1010.00,1010.00,9000.00
1637334549,"""Cut From the Illest Cloth"" - The Brand New Fu...",Hip-Hop,Music,GBP,2014-03-04,14000.00,2014-02-02 16:00:57,225.00,canceled,7,GB,369.89,377.33,23478.12
1656736114,"""ONE""",Apps,Technology,USD,2016-02-25,10000.00,2016-01-26 17:37:04,0.00,failed,0,US,0.00,0.00,10000.00
159049492,"""ONE""",Classical Music,Music,USD,2016-09-26,10000.00,2016-08-12 03:19:12,10261.00,successful,113,US,1870.00,10261.00,10000.00
72198224,"""On The Road""",Tabletop Games,Games,USD,2014-01-01,20000.00,2013-12-02 22:19:48,612.00,failed,10,US,612.00,612.00,20000.00
996180421,"""On The Road""",Webseries,Film & Video,USD,2015-01-22,80000.00,2014-12-23 17:31:06,0.00,failed,0,US,0.00,0.00,80000.00
306461885,"""Pulse""- a new album from ""Blind Focus"" to sup...",Music,Music,CAD,2016-12-08,4000.00,2016-11-08 03:01:36,270.00,canceled,3,CA,44.77,204.90,3035.59
1023301684,"""Pulse""- a new album from ""Blind Focus"" to sup...",Music,Music,CAD,2016-12-17,4000.00,2016-11-17 09:45:59,0.00,canceled,0,CA,0.00,0.00,2959.89
516801004,"""Reflections""",Shorts,Film & Video,USD,2012-10-16,3000.00,2012-09-16 07:47:47,0.00,failed,0,US,0.00,0.00,3000.00
2007967203,"""Reflections""",Narrative Film,Film & Video,USD,2013-01-16,60000.00,2012-12-05 16:31:40,0.00,failed,0,US,0.00,0.00,60000.00
1223071711,"""RunRainbow"" Feature Film Sizzle Reel",Horror,Film & Video,USD,2016-11-11,3734.00,2016-10-27 21:59:08,715.00,failed,20,US,225.00,715.00,3734.00
2136175444,"""RunRainbow"" Feature Film Sizzle Reel",Thrillers,Film & Video,USD,2016-11-01,3734.00,2016-10-17 18:12:57,250.00,canceled,8,US,220.00,250.00,3734.00
1165257902,"""The Book of Sam"" Book One Graphic Novel",Comics,Comics,USD,2017-02-09,300.00,2017-01-10 17:09:27,111.00,failed,10,US,25.00,111.00,300.00
1606189204,"""The Book of Sam"" Book One Graphic Novel",Comics,Comics,USD,2017-02-05,5000.00,2017-01-06 01:55:34,5.00,canceled,1,US,0.00,5.00,5000.00
1823321664,"""What's in your spine?""",Young Adult,Publishing,USD,2017-04-18,800.00,2017-03-06 13:10:55,800.00,canceled,1,US,0.00,800.00,800.00
465144515,"""What's in your spine?""",Young Adult,Publishing,USD,2017-04-15,4946.00,2017-03-06 02:55:48,0.00,canceled,0,US,0.00,0.00,4946.00
234863316,#Elixir,Hip-Hop,Music,USD,2016-09-24,5000.00,2016-08-25 05:27:22,0.00,canceled,0,US,0.00,0.00,5000.00
2043567899,#Elixir,Hip-Hop,Music,USD,2016-09-30,5000.00,2016-08-25 23:04:09,0.00,failed,0,US,0.00,0.00,5000.00
1889457470,$50 for a 1k word short story on a topic of yo...,Anthologies,Publishing,CAD,2017-10-01,1000000.00,2017-08-02 17:37:10,0.00,canceled,0,CA,0.00,0.00,795228.63
1165878498,$50 for a 1k word short story on a topic of yo...,Anthologies,Publishing,CAD,2017-10-01,50.00,2017-08-02 18:01:49,50.00,successful,1,CA,0.00,39.76,39.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255984219,noparkticket.com,Apps,Technology,USD,2015-11-22,20000.00,2015-09-23 01:56:42,5.00,failed,1,US,5.00,5.00,20000.00
1945927325,noparkticket.com,Web,Technology,USD,2015-05-29,156000.00,2015-04-23 18:45:30,0.00,failed,0,US,0.00,0.00,156000.00
145035452,project (Canceled),Food,Food,USD,2011-08-19,5000.00,2011-07-20 21:07:17,0.00,canceled,0,US,0.00,0.00,5000.00
1297288919,project (Canceled),Mixed Media,Art,USD,2016-02-14,47000.00,2016-01-06 16:11:52,0.00,canceled,0,US,0.00,0.00,47000.00
1146277333,returning at a later date (Canceled),Fiction,Publishing,USD,2015-05-25,250.00,2015-04-30 22:01:59,1238.00,canceled,16,US,1238.00,1238.00,250.00
1556035715,returning at a later date (Canceled),Experimental,Theater,USD,2015-10-10,99.00,2015-09-25 20:38:59,100.00,canceled,2,US,100.00,100.00,99.00
391083153,returning at a later date (Canceled),Periodicals,Publishing,USD,2015-10-05,1.00,2015-09-25 01:42:42,50.00,canceled,2,US,50.00,50.00,1.00
1586289411,returning at a later date (Canceled),Food,Food,USD,2015-11-24,99.00,2015-11-14 06:14:14,30.00,canceled,2,US,30.00,30.00,99.00
576148925,sFTP Client,Apps,Technology,GBP,2016-12-04,10000.00,2016-11-04 16:21:01,103.50,canceled,10,GB,109.09,130.20,12580.04
467374509,sFTP Client,Apps,Technology,GBP,2016-12-31,80000.00,2016-11-03 15:27:16,0.00,canceled,0,GB,0.00,0.00,98907.08
1331807604,smartLED,Hardware,Technology,EUR,2018-01-06,10000.00,2017-12-07 09:34:41,56.00,live,5,FR,100.63,67.97,12136.95
216839969,smartLED,Hardware,Technology,EUR,2017-12-28,10000.00,2017-11-28 09:22:51,66.00,canceled,6,FR,78.70,79.15,11993.00
167364797,test (Canceled),Digital Art,Art,GBP,2016-03-20,360.00,2016-02-20 00:10:45,100.00,canceled,1,GB,143.03,141.30,508.68
1404511608,test (Canceled),Space Exploration,Technology,USD,2015-04-18,49000.00,2015-03-19 02:40:10,1333.00,canceled,10,US,1333.00,1333.00,49000.00
1117671370,test (Canceled),Web,Technology,USD,2014-09-06,20000.00,2014-07-08 02:12:30,5.00,canceled,1,US,5.00,5.00,20000.00
1492548024,weSTAND: A Stand With a Mission,Gadgets,Technology,USD,2016-01-25,200.00,2016-01-04 17:33:28,1728.60,successful,58,US,1728.60,1728.60,200.00
1863478885,weSTAND: A Stand With a Mission,Gadgets,Technology,USD,2015-10-18,7000.00,2015-09-18 21:39:35,530.00,failed,19,US,530.00,530.00,7000.00
1334808206,x,Film & Video,Film & Video,GBP,2016-04-01,2000.00,2016-02-21 19:53:48,0.00,undefined,0,"N,0""",nan,0.00,2861.93
774948469,x,Apps,Technology,USD,2014-12-19,1500.00,2014-11-18 04:56:32,151.00,failed,4,US,151.00,151.00,1500.00
1955983697,x (Canceled),Software,Technology,USD,2011-02-21,20000.00,2011-01-21 00:21:20,0.00,canceled,0,US,0.00,0.00,20000.00
983316237,x (Canceled),Fiction,Publishing,USD,2012-07-24,10000.00,2012-06-26 22:15:19,0.00,canceled,0,US,0.00,0.00,10000.00
58345768,x (Canceled),Children's Books,Publishing,USD,2016-07-24,15000.00,2016-05-25 06:48:32,0.00,canceled,0,US,0.00,0.00,15000.00
1612055887,x (Canceled),Fiction,Publishing,USD,2012-02-22,15000.00,2012-01-12 01:07:01,0.00,canceled,0,US,0.00,0.00,15000.00
234114061,x (Canceled),Fashion,Fashion,USD,2013-09-03,5900.00,2013-07-29 20:14:48,0.00,canceled,0,US,0.00,0.00,5900.00
1839948714,xxx (Canceled),Food,Food,USD,2014-04-26,55000.00,2014-03-21 18:45:06,13591.00,canceled,156,US,13591.00,13591.00,55000.00
329580179,xxx (Canceled),Art,Art,USD,2011-09-03,10000.00,2011-06-05 04:54:37,1151.00,canceled,18,US,1151.00,1151.00,10000.00
1848699072,NaN,Narrative Film,Film & Video,USD,2012-02-29,200000.00,2012-01-01 12:35:31,100.00,failed,1,US,100.00,100.00,200000.00
634871725,NaN,Video Games,Games,GBP,2013-01-06,2000.00,2012-12-19 23:57:48,196.00,failed,12,GB,317.73,316.05,3224.97
648853978,NaN,Product Design,Design,USD,2016-07-18,2500.00,2016-06-18 05:01:47,0.00,suspended,0,US,0.00,0.00,2500.00
796533179,NaN,Painting,Art,USD,2011-12-05,35000.00,2011-11-06 23:55:55,220.00,failed,5,US,220.00,220.00,35000.00

In [39]:
# para verificar que se mantiene el hash, agrego una columna llamada name_hashed

kickstarter_2018['name_hashed']= kickstarter_2018['name'].apply(hashit)
kickstarter_2018[kickstarter_2018.name.duplicated(keep=False)].sort_values('name')[['name','name_hashed']][:15]

,name,name_hashed
ID,,
816998285,"""...The Last shall be first..."" LODB Lifestyle...",0c7a251ffe4c7834cbc4b04906952ff1
815783250,"""...The Last shall be first..."" LODB Lifestyle...",0c7a251ffe4c7834cbc4b04906952ff1
1010584633,"""A Fresh Start""",67554ab4203d95f2f2f05365f768206e
713417995,"""A Fresh Start""",67554ab4203d95f2f2f05365f768206e
1880084695,"""American Sports Stories"" - An Athletic Quest",19a82bc4c5961834282575d07d9b5f7c
422509694,"""American Sports Stories"" - An Athletic Quest",19a82bc4c5961834282575d07d9b5f7c
866225086,"""City of Mercy"" (Canceled)",b4ca2044f21f67e13ddb7583f59189a7
1760892298,"""City of Mercy"" (Canceled)",b4ca2044f21f67e13ddb7583f59189a7
1999958521,"""Color"" Music Video",bed6c6cbc0540c8d40b7e2311806cc5c
870322805,"""Color"" Music Video",bed6c6cbc0540c8d40b7e2311806cc5c
1413519345,"""Cut From the Illest Cloth"" - The Brand New Fu...",24873b2974fe8222256c6cc800a2b361
1637334549,"""Cut From the Illest Cloth"" - The Brand New Fu...",24873b2974fe8222256c6cc800a2b361
1656736114,"""ONE""",5f38010cf3ee47694a209c9a8403acfa
159049492,"""ONE""",5f38010cf3ee47694a209c9a8403acfa
72198224,"""On The Road""",b2226ed5c4031a0c849ac470e9910f7d

# 1.4. Nunca modificar los datos crudos u originales

In [40]:
if not in_colab:
  kickstarter_2018.to_csv(BASE_DIR + "/output/ks-projects-201801-for-pandas.csv")


# 2. Pasos necesarios

In [87]:
#import pandas as pd
if not in_colab:
  kickstarter_2018 = pd.read_csv(BASE_DIR + "/output/ks-projects-201801-for-pandas.csv",
                        index_col='ID',
                        parse_dates=['deadline','launched'])

In [88]:
kickstarter_2018.describe(include='all')

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,name_hashed
count,378657,378661,378661,378661,378661,378661.00,378661,378661.00,378661,378661.00,378661,374864.00,378661.00,378661.00,378657
unique,375764,159,15,14,3164,nan,378089,nan,6,nan,23,nan,nan,nan,375764
top,New EP/Music Development,Product Design,Film & Video,USD,2014-08-08 00:00:00,nan,1970-01-01 01:00:00,nan,failed,nan,US,nan,nan,nan,2cdff1887ad0f0d341ca3f08841de3a0
freq,41,22314,63585,295365,705,nan,7,nan,197719,nan,292627,nan,nan,nan,41
first,NaN,NaN,NaN,NaN,2009-05-03 00:00:00,nan,1970-01-01 01:00:00,nan,NaN,nan,NaN,nan,nan,nan,NaN
last,NaN,NaN,NaN,NaN,2018-03-03 00:00:00,nan,2018-01-02 15:02:31,nan,NaN,nan,NaN,nan,nan,nan,NaN
mean,NaN,NaN,NaN,NaN,NaN,49080.79,NaN,9682.98,NaN,105.62,NaN,7036.73,9058.92,45454.40,NaN
std,NaN,NaN,NaN,NaN,NaN,1183391.26,NaN,95636.01,NaN,907.19,NaN,78639.75,90973.34,1152950.06,NaN
min,NaN,NaN,NaN,NaN,NaN,0.01,NaN,0.00,NaN,0.00,NaN,0.00,0.00,0.01,NaN
25%,NaN,NaN,NaN,NaN,NaN,2000.00,NaN,30.00,NaN,2.00,NaN,16.98,31.00,2000.00,NaN
50%,NaN,NaN,NaN,NaN,NaN,5200.00,NaN,620.00,NaN,12.00,NaN,394.72,624.33,5500.00,NaN
75%,NaN,NaN,NaN,NaN,NaN,16000.00,NaN,4076.00,NaN,56.00,NaN,3034.09,4050.00,15500.00,NaN
max,NaN,NaN,NaN,NaN,NaN,100000000.00,NaN,20338986.27,NaN,219382.00,NaN,20338986.27,20338986.27,166361390.71,NaN

## 2.1. Etiquetas de variables/columnas: no usar caracteres especiales

In [89]:
# helpful character encoding module
import chardet

¿Por qué? Por que aun hay limitaciones para trabajar con estos caracteres.

¿Cúales son los caracteres "normales"?

In [90]:
import string

string.ascii_letters + string.digits

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789'

¿Qué es ASCII? Es una de las primeras codificaciones (o encoding) disponibles. Ver https://en.wikipedia.org/wiki/ASCII

Un encoding es un mapa de caracteres a una representación en bits (por ejemplo 1000001). ASCII es uno de los primeros estandares para interoperatividad entre computadoras (antes cada fabricante de computadora usa su propia codificación), contempla sólo los caracteres ingleses y usa 7 bits, por ejemplo *1000001* codifica el caracter *A*

Cómo sólo representaban los caracteres ingleses, empiezan a aparecer variantes para distintos idiomas, Microsoft hizo los propios para internacionalizar Windows, hubo otro estandar ISO 8859, hasta que llegó el éstandar Unicode que hizo múltiples encodings pero cada uno contempla múltiples idiomas e incluso es extensible a futuro. UTF-8 es de esos encodings el más utilizado. Ver https://en.wikipedia.org/wiki/Unicode

En particular, Python 3 utiliza UTF-8 por defecto (lo que no sucedía en Python 2).

Veamos un ejemplo práctico

In [91]:
# start with a string
before = "This is the euro symbol: €"

# check to see what datatype it is
type(before)

str

In [92]:
# encode it to a different encoding, replacing characters that raise errors
after = before.encode("utf-8", errors = "replace")

# check the type
type(after)

bytes

In [93]:
# take a look at what the bytes look like
after

b'This is the euro symbol: \xe2\x82\xac'

In [94]:
# convert it back to utf-8
print(after.decode("utf-8"))

This is the euro symbol: €

In [95]:
# try to decode our bytes with the ascii encoding
print(after.decode("ascii"))

UnicodeDecodeError: 'ascii' codec can't decode byte 0xe2 in position 25: ordinal not in range(128)

In [96]:
# start with a string
before = "This is the euro symbol: €"

# encode it to a different encoding, replacing characters that raise errors
after = before.encode("ascii", errors = "replace")

# convert it back to utf-8
print(after.decode("ascii"))

# We've lost the original underlying byte string! It's been 
# replaced with the underlying byte string for the unknown character :(

This is the euro symbol: ?

Este error ya lo vimos...

In [97]:
kickstarter_2016 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201612.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x99 in position 11: invalid start byte

El error `UnicodeDecodeError` nos indica que el archivo no estaría en Unicode. Si no está en algún metadato o no fue indicado es dificil detectar el encoding, por suerte hay un paquete para esto en Python, que aplica unas heurísticas para detectar encoding.

In [98]:
# In Colab we need to download data locally
if in_colab:
  !wget -c $BASE_DIR/input/kickstarter-projects/ks-projects-201612.csv
  DOWN_DIR = "./"
else:
  DOWN_DIR = BASE_DIR + "/input/kickstarter-projects/"
  
# look at the first ten thousand bytes to guess the character encoding
with open(DOWN_DIR + "/ks-projects-201612.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(10000))

# check what the character encoding might be
result

{'confidence': 0.73, 'encoding': 'Windows-1252', 'language': ''}

Entonces le podemos indicar el encoding al leer el archivos

In [99]:
# read in the file with the encoding detected by chardet
kickstarter_2016 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201612.csv", encoding='Windows-1252')

# look at the first few lines
kickstarter_2016.head()

C:\ProgramData\Anaconda3\envs\diplodatos-ayv\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,nan
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,nan
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,nan
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,nan
4,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,nan

Hay otro problema con los caracteres que es más sutíl: **[Mojibake](https://en.wikipedia.org/wiki/Mojibake)**

Sucede al leer UTF-8 como ASCII extendido (ie. `Windows-*`, `iso-8859-*` entre otros)

Ejemplo de mojibake:

In [100]:
"cigüeña".encode('utf-8').decode('iso-8859-1')

'cigÃ¼eÃ±a'

Para esto vamos a usar un módulo específico [ftfy](https://ftfy.readthedocs.io/en/latest/). 

Que nos permite ordenar cadenas por rareza

In [101]:
import ftfy.badness as bad

In [102]:
def weird(val):
    if isinstance(val, float): 
        return 0
    return bad.sequence_weirdness(val)


kickstarter_2018['name_weirdness'] = kickstarter_2018['name'].apply(weird)
kickstarter_2018[kickstarter_2018['name_weirdness'] > 1]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real,name_hashed,name_weirdness
ID,,,,,,,,,,,,,,,,
1221990593,Support PMCD´s ¨From a Different Clay¨,Dance,Dance,USD,2011-06-08,1500.00,2011-04-28 05:15:32,1940.00,successful,27,US,1940.00,1940.00,1500.00,19f1788f626264c587f12538f8139bbc,3
1234089244,Cracking (Mastering) the Metaphor (Political)...,Nonfiction,Publishing,USD,2013-10-27,30000.00,2013-09-27 23:33:29,0.00,failed,0,US,0.00,0.00,30000.00,30b4c57210c341dddf4feb98b6b613a4,2
124795481,µGALE (Canceled),Wearables,Technology,EUR,2015-04-17,18000.00,2015-02-16 01:55:34,10.00,canceled,2,NL,11.39,10.81,19465.14,02cf1ec15a3b1bbbe9c2233772317ed0,2
1468489999,µCurrent GOLD - Precision Multimeter Current A...,Hardware,Technology,AUD,2013-12-31,9900.00,2013-12-17 10:28:09,116575.17,successful,1268,AU,104343.69,104871.51,8906.08,6b2f732786153db65b2a422645727083,2
1610503461,µPeek - The Professional Microscope that Fits ...,Technology,Technology,CHF,2016-01-09,125000.00,2015-12-10 10:08:18,247688.14,successful,1435,CH,249249.19,246848.85,124576.44,59b2abdde249a2487b54b854d4a1792e,2
16174550,PARALELO 19 Nº,Photography,Photography,MXN,2017-04-15,15000.00,2017-03-01 00:00:24,3340.00,failed,8,MX,0.00,177.36,796.52,3f6d2509d509de5b18554e66f4d632b8,2
1719215256,Kickstarter Gold: Manual Coffeemaker Nº3,Product Design,Design,USD,2017-07-22,60000.00,2017-06-20 15:29:56,68587.33,successful,618,US,21002.00,68587.33,60000.00,a35a710e607922d2479cfb4a81f61ab7,2
1837094178,¨Midgard's taigh-seinnse/ Eröffnung Mittelalte...,Restaurants,Food,CHF,2016-09-29,50000.00,2016-08-30 09:36:42,150.00,failed,1,CH,0.00,153.93,51310.47,4228f9a792e09aef350553a046dd464d,2
2056123754,ZEIº - the most simple time tracking solution,Technology,Technology,EUR,2016-10-26,75000.00,2016-09-20 15:54:49,313637.00,successful,3140,AT,9451.58,342555.54,81915.29,9b7d9e4a311083e967ce8f29fe8d94e0,2
2068157547,Ballet Folklorico Infantil de la Universidad ...,Art,Art,MXN,2017-04-03,40000.00,2017-03-22 16:33:33,42480.00,successful,38,MX,532.09,2263.79,2131.63,aabd935a8312cf720f92eb0b9409da0f,2
2096648634,Funky City : a funky rpg,Video Games,Games,USD,2017-04-08,5000.00,2017-03-09 04:05:15,0.00,failed,0,US,0.00,0.00,5000.00,477363ff36e1e81209ad779b09167532,2
2102265118,Music Album ¨Dreams¨ Uplifting Tunes with Rap,Hip-Hop,Music,EUR,2017-12-24,28000.00,2017-11-24 12:49:09,0.00,failed,0,NL,0.00,0.00,33580.39,1644fd721fef3e870cc38668ff71b228,4
237780030,Solderdoodle Pro: Over 700ºF USB Rechargeable ...,DIY Electronics,Technology,USD,2014-08-19,37800.00,2014-07-29 16:52:31,15636.00,failed,318,US,15636.00,15636.00,37800.00,e25ee4ed2a54b88cb07aed8db89c4bed,2
383244441,Virtual Roller Coaster in 4th Dimension,Makerspaces,Technology,MXN,2017-02-25,459900.00,2017-02-01 00:07:38,0.00,failed,0,MX,0.00,0.00,23399.82,0b254f38354a8df41a1262c7373f8401,2
458626388,Solderdoodle Pro: 700ºF USB Rechargeable Solde...,DIY Electronics,Technology,USD,2014-09-24,11400.00,2014-08-19 16:55:05,22565.00,successful,409,US,22565.00,22565.00,11400.00,1b97891b807a1684bee7f68e64d3c71a,2
466898065,Manual Tea Maker Nº1,Product Design,Design,USD,2016-08-20,40000.00,2016-07-18 04:25:44,67767.00,successful,1111,US,5534.00,67767.00,40000.00,6726a9b02d657af4031119cd91bb7779,2
516833776,µTracker - extremly Power Saving GPS + GSM Board,Hardware,Technology,EUR,2016-12-09,89000.00,2016-11-18 09:13:12,2032.00,failed,22,AT,546.70,2145.59,93975.04,8f2af88d86796c56093d18d501acc6af,2
549309727,Higher Grounds Coffee Company Mobile Coffee Tr...,Food Trucks,Food,USD,2018-01-12,10000.00,2017-12-07 16:07:54,4882.00,live,36,US,542.00,4882.00,10000.00,d52724e529f93934f0814243ee8a9736,2
551994337,?? cybertwee ?? ¨*:·. bake sale on the deep we...,Digital Art,Art,USD,2015-09-18,100.00,2015-09-14 04:14:05,347.00,successful,66,US,347.00,347.00,100.00,deebdd3812720ac3e3a00cd466f04b5e,2
558638957,Mµ Magazine,Zines,Publishing,CAD,2016-12-02,5000.00,2016-11-01 23:37:22,0.00,failed,0,CA,0.00,0.00,3758.55,d4d1eff6f57a645b30ed5b406142a439,2
718763713,"Not Twins - New EP! ""The View from Down Here""",Indie Rock,Music,USD,2017-03-27,3500.00,2017-02-26 18:34:59,4726.61,successful,171,US,1758.41,4726.61,3500.00,7f57a2de6667f3a96717c639fcce4d78,2
805839986,µRuler - Measure size in the micro-world under...,Technology,Technology,CAD,2017-04-07,2000.00,2017-03-08 03:42:19,5523.00,successful,213,CA,623.34,4118.26,1491.31,cc5019aa3e6594ec844e6f9e8f2ac071,2
900880068,Newton ¨El Veterano¨,Music,Music,EUR,2016-12-10,2747.00,2016-10-31 21:24:36,838.00,failed,36,ES,0.00,874.78,2867.58,71c33b3a72dcb37575e24db57c4f9433,4
960506632,Degreesº to Extinction,Documentary,Film & Video,USD,2016-12-21,30000.00,2016-12-06 00:26:54,30.00,failed,2,US,5.00,30.00,30000.00,76ab3847ed10458269b3fe8f54230986,2
963442008,theNewerYork Lit Mag: We M?§§ w/ Yoµr H£åd,Periodicals,Publishing,USD,2012-03-25,7000.00,2012-01-30 19:01:35,9892.49,successful,228,US,9892.49,9892.49,7000.00,e40699e0e2768129ec276d710c85a66e,2
98169605,µTøøl - The Ultimate pocket tool! Credit card ...,Technology,Technology,NZD,2016-01-01,20000.00,2015-12-02 06:04:57,2230.00,failed,83,NZ,1477.51,1472.34,13204.81,ba70305bca181c60171d683049082747,2

Volviendo a la consigna original, chequeamos que no haya caracteres fuera de a-Z, 0-9 y _ en los nombres de columnas

In [103]:
kickstarter_2018.columns[~kickstarter_2018.columns.str.match(r'^(\w+)$')]

Index(['usd pledged'], dtype='object')

In [104]:
kickstarter_2018.usd_pledged.head()

AttributeError: 'DataFrame' object has no attribute 'usd_pledged'

In [118]:
kickstarter_2018.columns = kickstarter_2018.columns.str.replace(' ', '_')
kickstarter_2018.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_hashed,name_weirdness
ID,,,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95,a6828ae8a2eca25f0dd7035efc0af0a0,0
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00,81609b3bdc0b96f429672d69702f2524,0
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00,c12f5c3bace2f0213cdb2679a265dca0,0
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00,4dbdcf09c86bbf5683ec39bc57b77f81,0
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00,9c01404a2ef702811c2088ce139042ad,0

In [119]:
kickstarter_2018.usd_pledged.head()

ID
1000002330      0.00
1000003930    100.00
1000004038    220.00
1000007540      1.00
1000011046   1283.00
Name: usd_pledged, dtype: float64

#### Ejercicio 3

Comparar la cantidad de nombres raros en kickstarter_2018 con la que obtenemos al cargar 'ks-projects-201801.csv' con encoding iso-8859-1.

In [120]:
kickstarter_2018[kickstarter_2018['name_weirdness'] > 1].count()

name                26
category            26
main_category       26
currency            26
deadline            26
goal                26
launched            26
pledged             26
state               26
backers             26
country             26
usd_pledged         26
usd_pledged_real    26
usd_goal_real       26
name_hashed         26
name_weirdness      26
dtype: int64

In [121]:
# read in the file with the encoding detected by chardet
kickstarter_2018_enc_8859 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv", encoding='iso-8859-1')

# look at the first few lines
kickstarter_2018_enc_8859.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00

In [122]:
kickstarter_2018_enc_8859['name_weirdness'] = kickstarter_2018_enc_8859['name'].apply(weird)
kickstarter_2018_enc_8859[kickstarter_2018_enc_8859['name_weirdness'] > 1].count()

ID                  7682
name                7682
category            7682
main_category       7682
currency            7682
deadline            7682
goal                7682
launched            7682
pledged             7682
state               7682
backers             7682
country             7682
usd pledged         7615
usd_pledged_real    7682
usd_goal_real       7682
name_weirdness      7682
dtype: int64

Encontramos 7682 valores "raros" con encoding iso-8859 y solo 26 con Windows-1252

In [123]:
kickstarter_2018_enc_8859[kickstarter_2018_enc_8859['name_weirdness'] > 1][['name','name_weirdness']].head()

                                                  name  name_weirdness
63                                      HIIT Bottleâ¢               2
70   Gizbeeâ¢ Unlimited Removable Storage for Your...               2
123             Wordwright: reÂ·deÂ·finÂ·ing word play               6
157                                   OperaciÃ³n Douve               2
184  Strait Jacket â Tangle Prevention For Headph...               4

## 2.2. Tratar valores faltantes

Veamos cuantos valores nulos tenemos

In [124]:
# get the number of missing data points per column
missing_values_count = kickstarter_2018.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[missing_values_count > 0]

usd_pledged    3797
dtype: int64

Esta medida en sí, no dice nada más que con cuantos valores debemos lidiar. 

Primero tenemos que ver si en términos relativos su impacto.

In [125]:
len(kickstarter_2018.dropna())/len(kickstarter_2018)

0.9899724552827492

In [126]:
len(kickstarter_2018.dropna(subset=['name']))/len(kickstarter_2018)

1.0

También debemos ver que significan en términos de representatividad e importancia de nuestro análisis.

In [127]:
kickstarter_2018[kickstarter_2018.name.isnull()]

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd_pledged, usd_pledged_real, usd_goal_real, name_hashed, name_weirdness]
Index: []

Ejemplo, cuantos de los proyectos suspendidos no tienen nombre

In [128]:
len(kickstarter_2018[kickstarter_2018.state == 'suspended'].dropna(subset=['name'])) / \
    len(kickstarter_2018[kickstarter_2018.state == 'suspended'])

1.0

En este caso, creemos que es seguro descartar los proyectos sin nombre

In [129]:
kickstarter_2018 = kickstarter_2018.dropna(subset=['name'])

In [130]:
missing_values_count = kickstarter_2018.isnull().sum()
missing_values_count[missing_values_count > 0]

usd_pledged    3797
dtype: int64

In [131]:
kickstarter_2018[kickstarter_2018.usd_pledged.isnull()]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_hashed,name_weirdness
ID,,,,,,,,,,,,,,,,
1000694855,STREETFIGHTERZ WHEELIE MURICA,Film & Video,Film & Video,USD,2014-09-20,6500.00,2014-08-06 21:28:36,555.00,undefined,0,"N,0""",nan,555.00,6500.00,317cb508c0d274aa44ea6dc7135f67e7,0
100149523,Duncan Woods - Chameleon EP,Music,Music,AUD,2015-08-25,4500.00,2015-08-04 12:05:17,4767.00,undefined,0,"N,0""",nan,3402.08,3211.53,5e380aed7fb3ac232113ad8b84f6e281,0
1003023003,The Making of Ashley Kelley's Debut Album,Music,Music,USD,2015-04-09,3500.00,2015-03-10 20:06:13,3576.00,undefined,0,"N,0""",nan,3576.00,3500.00,db6c3338a76817fba7fa342ed6e8484f,0
1003130892,Butter Side Down Debut Album,Music,Music,USD,2015-11-26,6000.00,2015-11-02 22:09:19,7007.80,undefined,0,"N,0""",nan,7007.80,6000.00,c6453b947fa89bb74055d6ac199670cb,0
1003629045,Chase Goehring debut EP,Music,Music,USD,2016-03-21,3000.00,2016-02-23 03:09:49,3660.38,undefined,0,"N,0""",nan,3660.38,3000.00,82871f83555fc30a3126ee35bc582f24,0
1004013077,Spencer Capier Instrumental Project 2015,Music,Music,CAD,2014-10-10,4000.00,2014-09-10 22:51:01,4760.00,undefined,0,"N,0""",nan,4251.14,3572.39,8c862d0bdb17b09b0f4648d6481a2ce3,0
1004126342,LUKAS LIGETI'S 50TH BIRTHDAY FESTIVAL: ORIGINA...,Music,Music,USD,2015-06-11,5000.00,2015-05-15 02:12:35,6370.00,undefined,0,"N,0""",nan,6370.00,5000.00,39bc2adfb03ba4b249a05a574a9e3128,0
1004255433,The Battle For Breukelen: A Neighborhood Epic,Film & Video,Film & Video,USD,2015-11-07,6000.00,2015-10-10 18:45:24,6695.00,undefined,0,"N,0""",nan,6695.00,6000.00,1977254adc7cd06aaf8f3af17ff2ec6f,0
1004298993,"""Tamboura Plays Violin"" - a collection of Pop ...",Music,Music,USD,2015-03-28,2750.00,2015-02-11 19:28:27,2926.00,undefined,0,"N,0""",nan,2926.00,2750.00,941466bc8d50d9e1eb8364848b604483,0
1004402863,Nightingale Noel - An A Cappella Holiday CD,Music,Music,USD,2015-12-11,1200.00,2015-11-11 21:02:55,1585.00,undefined,0,"N,0""",nan,1585.00,1200.00,eb8159308f724a27771ec428d74068f6,0
1005185256,Local Music Connection,Music,Music,USD,2015-12-18,1500.00,2015-11-18 21:50:04,69.00,undefined,0,"N,0""",nan,69.00,1500.00,9cedad926bac6feac9db2bb5750ae4a3,0
100522240,DO NOT DUPLICATE - Selected by 2015 Devon Film...,Film & Video,Film & Video,GBP,2015-04-10,1500.00,2015-03-11 22:07:00,277.00,undefined,0,"N,0""",nan,404.18,2188.69,3167b87c4c8b95d2845bf1d9e5b496c2,0
1005653464,SA-4 Studios,Music,Music,USD,2015-03-25,5000.00,2015-01-24 18:33:14,0.00,undefined,0,"N,0""",nan,0.00,5000.00,87bd54c44e1f1731b8decabe161a5569,0
1006327667,Letters to the Wild - EP,Music,Music,USD,2014-10-31,2000.00,2014-10-02 22:48:31,2560.00,undefined,0,"N,0""",nan,2560.00,2000.00,709339308b5ca0a58e9f769413034189,0
1008671527,The Fitness Mindset :-),Publishing,Publishing,EUR,2015-11-17,8000.00,2015-10-13 15:45:38,30.00,undefined,0,"N,0""",nan,32.06,8550.39,cb7eba0321087ae8bfa532eeac520974,0
1008675685,Inspired & the Sleep EP - Eyelid Kid,Music,Music,USD,2015-10-30,2000.00,2015-10-04 21:48:11,2079.00,undefined,0,"N,0""",nan,2079.00,2000.00,5fe4697be90a140f140e02aa193b06ae,0
1008815806,Into Winter: An Instrumental Christmas Experiment,Music,Music,USD,2014-10-11,2000.00,2014-09-10 23:23:40,2085.00,undefined,0,"N,0""",nan,2085.00,2000.00,494829f8b28fa4cfa927c4fe13ce7cad,0
1009154868,Help advance scientific guitar & bass design,Music,Music,USD,2016-03-12,5000.00,2016-02-11 01:42:44,121.00,undefined,0,"N,0""",nan,121.00,5000.00,f2d02c759cac84094fd78e232b2ddfd5,0
1009312309,Mr. Pickles,Publishing,Publishing,USD,2015-05-01,3750.00,2015-04-01 16:36:51,230.00,undefined,0,"N,0""",nan,230.00,3750.00,46c2517a4f77059ed48e88804ff2838e,0
1009774693,Universal Peace | Universal Justice,Music,Music,USD,2014-09-06,2500.00,2014-07-29 23:01:07,2720.00,undefined,0,"N,0""",nan,2720.00,2500.00,161b7fb2c0c0f0593d44234ecace389e,0
1010217550,Solarboot-Havel-Tour,Music,Music,EUR,2015-05-31,2500.00,2015-05-14 23:05:51,2620.00,undefined,0,"N,0""",nan,2939.13,2804.51,5af4aa693c2ef041aaf88a30bc3278f4,0
1010694326,Surrender,Music,Music,CAD,2015-01-30,5000.00,2014-12-29 01:27:30,5197.00,undefined,0,"N,0""",nan,4101.82,3946.33,92fa0b43cbcc2b7610cdb157d273c5fa,0
1011508551,EBENEZER Solo Record,Music,Music,USD,2015-05-30,8000.00,2015-04-20 17:33:24,8361.00,undefined,0,"N,0""",nan,8361.00,8000.00,d1431d434393d672d2ec9e386b39947a,0
1011952280,NHSOB Summer Festival 2015,Music,Music,GBP,2015-05-15,3000.00,2015-03-31 17:21:17,34.00,undefined,0,"N,0""",nan,53.41,4712.83,c376e61d3c9a14dcdd51fd0b01300753,0
1012058337,Degobah Max,Music,Music,USD,2015-12-05,4500.00,2015-11-06 21:55:39,0.00,undefined,0,"N,0""",nan,0.00,4500.00,0308b87378f4295be775d7481edf3e99,0
1012414277,WE ARE WHO WE ARE BUT WHATEVER WE WANT TO BE!!!,Music,Music,USD,2015-08-31,3000.00,2015-07-13 17:09:24,0.00,undefined,0,"N,0""",nan,0.00,3000.00,6f4d1c2f6bcf9f6518dfaca4deed46c0,0
1012704793,Life In The Bus Lane,Film & Video,Film & Video,USD,2014-12-21,7500.00,2014-11-21 05:09:09,9329.00,undefined,0,"N,0""",nan,9329.00,7500.00,d231f855c3067a2e01c7617477d49056,0
1012744036,An Oratorio for our Time - Last Stop Cafe,Music,Music,USD,2016-05-26,5000.00,2016-04-26 19:46:26,5170.00,successful,0,"N,0""",nan,5170.00,5000.00,32b84ffb16ec287a93de59648fae272b,0
1012807897,Juliet Remembered,Film & Video,Film & Video,GBP,2016-02-06,6500.00,2016-01-07 13:44:33,6660.12,undefined,0,"N,0""",nan,9660.05,9427.80,0a04f4786fac3d218ab959a6b5bcd11e,0
1013389538,Make admission to the London Music Awards cere...,Music,Music,CAD,2015-06-09,3500.00,2015-05-10 15:22:18,207.00,undefined,0,"N,0""",nan,168.25,2844.83,82082246891628a603955d5e674986fd,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982862687,Bydlo - A Novel,Publishing,Publishing,GBP,2015-06-01,3000.00,2015-04-02 12:51:16,0.00,undefined,0,"N,0""",nan,0.00,4599.39,083cf1f3485d6017d2d62f66b7eed701,0
982919439,Faith,Film & Video,Film & Video,USD,2016-05-06,9000.00,2016-03-07 04:17:33,2.00,failed,0,"N,0""",nan,2.00,9000.00,3d0e515ea3ccfd88e1cf2d17bca8ff52,0
983728691,The Octopodes' 5th Studio Album!,Music,Music,USD,2016-01-05,8000.00,2015-11-19 23:43:09,8025.00,undefined,0,"N,0""",nan,8025.00,8000.00,ff59c32540ad8a8f7bbe0612af8c01b5,0
985231591,TWO FISH,Film & Video,Film & Video,USD,2014-05-17,8000.00,2014-04-21 21:52:55,8562.00,undefined,0,"N,0""",nan,8562.00,8000.00,949555b1a9b2e36c034f6e6b765cd401,0
986253191,"DEVELOP MAGAZINE FOR THE ARTS, MUSIC, AND DESI...",Publishing,Publishing,USD,2015-02-28,5000.00,2015-01-29 17:43:13,0.00,undefined,0,"N,0""",nan,0.00,5000.00,7ca65bb53757e6e36932b539b7993260,0
986471034,"Help Revival finish their new album, Guidance.",Music,Music,USD,2015-05-02,2500.00,2015-04-03 11:16:00,420.00,undefined,0,"N,0""",nan,420.00,2500.00,f2490b1d86b02d3ff87afb06a9befa66,0
98744618,Vinyl for Dancing Pigeons!,Music,Music,SEK,2016-04-16,33000.00,2016-03-17 13:42:54,1105.00,undefined,0,"N,0""",nan,136.19,4067.35,2dae65c64962189c2b136cd0c6888886,0
988763792,Maud Sings Maud: A Musical Betsy-Tacy Companion,Music,Music,USD,2015-12-03,6500.00,2015-10-04 00:55:19,7814.00,undefined,0,"N,0""",nan,7814.00,6500.00,7218ec7c8940cf32ef22cb1e32e5b9b7,0
989218116,Keep on Movin' - The Debut Album,Music,Music,GBP,2014-11-19,1300.00,2014-10-22 22:22:14,2.00,undefined,0,"N,0""",nan,3.14,2038.70,c9f406d8ec0ada74687fe1907c2642a3,0
989499289,Sojourner,Music,Music,USD,2016-04-11,2500.00,2016-03-12 23:22:51,80.00,undefined,0,"N,0""",nan,80.00,2500.00,a9c446e8235b8cf214780e495ace47b9,0
989874415,Love and Soul through Sound,Music,Music,USD,2015-06-27,3000.00,2015-05-28 17:17:08,45.00,undefined,0,"N,0""",nan,45.00,3000.00,c243a4f4aa03a4ddcd3a2c772aec663f,0
991409513,Chris Copeland's First EP,Music,Music,USD,2015-02-28,5500.00,2015-01-29 02:58:24,5763.00,undefined,0,"N,0""",nan,5763.00,5500.00,1d3623b375832a0728da61df24191254,0
991483230,Support Vocal Synergy's Second Semester and Te...,Music,Music,USD,2015-12-20,3400.00,2015-12-05 05:10:10,3435.00,undefined,0,"N,0""",nan,3435.00,3400.00,a776df294f0ace94ea6740c38afc6e84,0
991820324,The Blend CD 2015,Music,Music,USD,2015-05-15,8000.00,2015-04-15 00:07:51,8156.00,undefined,0,"N,0""",nan,8156.00,8000.00,e5c7b5dde05b73d8d8fc1ffa5648afd8,0
992433603,Jonny Come Lately,Film & Video,Film & Video,USD,2014-12-24,8500.00,2014-11-24 20:47:45,9146.00,undefined,0,"N,0""",nan,9146.00,8500.00,4f4e6723d95bc681167b4b2e1309275a,0
994080962,Maximum Coppage,Film & Video,Film & Video,USD,2014-08-19,3000.00,2014-07-18 03:42:11,3175.00,undefined,0,"N,0""",nan,3175.00,3000.00,bbdd6d1483234e087fa7f2e78d65ffa1,0
994621918,Star Sailor,Film & Video,Film & Video,USD,2016-01-01,8000.00,2015-12-03 20:25:41,8061.00,undefined,0,"N,0""",nan,8061.00,8000.00,32f77cf0090deb2536943f8a31f16023,0
994911312,"""Songwriter assistance"" service",Music,Music,CAD,2014-12-22,5000.00,2014-11-22 00:56:04,0.00,undefined,0,"N,0""",nan,0.00,4313.32,8ad4e5b7b02b11acf95258f45af5257c,0
994933706,Whiskey and Holy Water,Music,Music,USD,2015-05-11,6500.00,2015-03-25 03:55:53,6696.00,undefined,0,"N,0""",nan,6696.00,6500.00,383a4bec27e6347151543aa79f4f8d76,0
99613274,Double EP and Music Video Fundraiser,Music,Music,GBP,2015-12-02,3000.00,2015-11-02 09:33:38,3517.00,undefined,0,"N,0""",nan,5324.59,4541.88,63221f3a1c9309a838c57d0be33caa1b,0
996908566,The World Needs More Big Thinkers,Publishing,Publishing,USD,2015-09-13,8000.00,2015-07-30 03:01:31,0.00,undefined,0,"N,0""",nan,0.00,8000.00,2f32fc2f1c3ac4b17f1e65d7b70a83ca,0
99739483,No More Fear,Music,Music,GBP,2016-04-17,2500.00,2016-03-17 13:43:26,2500.00,undefined,0,"N,0""",nan,3594.48,3594.48,cc24135516f48a22f0f7b5567c82f33f,0
997554968,Susan Picking: Making Music with Kids in the S...,Music,Music,USD,2015-03-01,8000.00,2015-01-31 20:58:01,8582.00,undefined,0,"N,0""",nan,8582.00,8000.00,2d2b9c51ff1402a9056afe3861932303,0
997793413,Whisper Violet - Honors Senior Thesis Film,Film & Video,Film & Video,USD,2016-05-14,2000.00,2016-04-14 01:27:27,2300.00,successful,0,"N,0""",nan,2300.00,2000.00,01898168d3c218e5ff3c30fc97fadb53,0
997915422,Otter's First Full Length Album,Music,Music,USD,2015-12-31,5000.00,2015-12-01 00:25:06,6065.26,undefined,0,"N,0""",nan,6065.26,5000.00,ad683e045b1caa4727c57b994c01ad1c,0
997971307,"EQUUS International Film Festival®, all-equine...",Film & Video,Film & Video,USD,2015-02-03,7500.00,2014-12-05 04:19:14,10.00,undefined,0,"N,0""",nan,10.00,7500.00,00604947267ec75ee84c7d54e63569fc,-1
998319149,Emily 2050 - Short Film,Film & Video,Film & Video,CAD,2014-05-23,3000.00,2014-04-08 00:30:09,3102.00,undefined,0,"N,0""",nan,2845.61,2752.04,fd1c279626d39862f637316776fc85df,0
9988744,Matthew Stephens Music,Music,Music,USD,2016-02-05,5000.00,2016-01-06 21:59:23,235.00,undefined,0,"N,0""",nan,235.00,5000.00,ddc0ec39f772c0c0444e278612d0baf9,0
999610349,Lady Vendredi: Afrofuturist concept 12 inch EP,Music,Music,GBP,2015-10-19,2000.00,2015-09-21 22:33:18,2125.00,undefined,0,"N,0""",nan,3273.36,3080.81,05ee5867bc77a523f2597c325b144f80,0
999621278,Jeune auteur a besoin de vous!,Publishing,Publishing,EUR,2015-11-20,1600.00,2015-10-21 21:28:13,0.00,undefined,0,"N,0""",nan,0.00,1710.08,6cab36c61f76c06f3c70e01cafe95cd2,0

In [132]:
kickstarter_2018[kickstarter_2018.usd_pledged.isnull()].describe(include='all')

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_hashed,name_weirdness
count,3797,3797,3797,3797,3797,3797.00,3797,3797.00,3797,3797.00,3797,0.00,3797.00,3797.00,3797,3797.00
unique,3764,28,12,10,722,nan,3797,nan,6,nan,1,nan,nan,nan,3764,nan
top,New EP/Music Development,Music,Music,USD,2015-05-01 00:00:00,nan,2015-10-27 17:00:11,nan,undefined,nan,"N,0""",nan,nan,nan,2cdff1887ad0f0d341ca3f08841de3a0,nan
freq,28,2387,2388,2738,26,nan,1,nan,3562,nan,3797,nan,nan,nan,28,nan
first,NaN,NaN,NaN,NaN,2012-04-24 00:00:00,nan,2012-03-14 19:05:44,nan,NaN,nan,NaN,nan,nan,nan,NaN,nan
last,NaN,NaN,NaN,NaN,2016-07-07 00:00:00,nan,2016-05-21 20:45:12,nan,NaN,nan,NaN,nan,nan,nan,NaN,nan
mean,NaN,NaN,NaN,NaN,NaN,5413.35,NaN,3023.26,NaN,0.00,NaN,nan,2949.85,5097.31,NaN,-0.01
std,NaN,NaN,NaN,NaN,NaN,37466.24,NaN,44919.41,NaN,0.00,NaN,nan,44881.72,37258.79,NaN,0.12
min,NaN,NaN,NaN,NaN,NaN,108.00,NaN,0.00,NaN,0.00,NaN,nan,0.00,85.28,NaN,-3.00
25%,NaN,NaN,NaN,NaN,NaN,2000.00,NaN,5.00,NaN,0.00,NaN,nan,5.00,2250.00,NaN,0.00
50%,NaN,NaN,NaN,NaN,NaN,3500.00,NaN,640.00,NaN,0.00,NaN,nan,616.00,3583.05,NaN,0.00
75%,NaN,NaN,NaN,NaN,NaN,5000.00,NaN,3845.00,NaN,0.00,NaN,nan,3932.23,5208.09,NaN,0.00
max,NaN,NaN,NaN,NaN,NaN,1877000.00,NaN,2762571.78,NaN,0.00,NaN,nan,2762571.78,1877000.00,NaN,0.00

Interesante, todos los datos pertenecen a un país indeterminado.

Todos los datos de ese "país" no tienen dinero prometido?

In [133]:
kickstarter_2018[(kickstarter_2018.country == 'N,0"') & ~(kickstarter_2018.usd_pledged.isnull())].head()

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd_pledged, usd_pledged_real, usd_goal_real, name_hashed, name_weirdness]
Index: []

A priori como los proyectos no tienen patrocinantes, completamos en 0 los valores

In [134]:
kickstarter_2018 = kickstarter_2018.fillna(0)
missing_values_count = kickstarter_2018.isnull().sum()
missing_values_count[missing_values_count > 0]

Series([], dtype: int64)

In [135]:
kickstarter_2018.shape

(378657, 16)

Más métodos disponibles en https://pandas.pydata.org/pandas-docs/stable/api.html#api-dataframe-missing y http://scikit-learn.org/stable/modules/classes.html#module-sklearn.preprocessing

## 2.3. Codificar variables

Para trabajar con los algoritmos de aprendizaje automático, las variables categóricas estas deben ser codificadas como variables numéricas, no como cadenas.

Para esta tarea también hay diferentes estrategias, dos comunes son: asociar cadena a número y asociar cadena a columna.

In [136]:
from sklearn import preprocessing
kickstarter_2018.describe(include=['O'])

,name,category,main_category,currency,state,country,name_hashed
count,378657,378657,378657,378657,378657,378657,378657
unique,375764,159,15,14,6,23,375764
top,New EP/Music Development,Product Design,Film & Video,USD,failed,US,2cdff1887ad0f0d341ca3f08841de3a0
freq,41,22313,63584,295362,197716,292624,41

In [137]:
# otra forma de hacer el describe de strings...
kickstarter_2018.describe(include=np.object)

,name,category,main_category,currency,state,country,name_hashed
count,378657,378657,378657,378657,378657,378657,378657
unique,375764,159,15,14,6,23,375764
top,New EP/Music Development,Product Design,Film & Video,USD,failed,US,2cdff1887ad0f0d341ca3f08841de3a0
freq,41,22313,63584,295362,197716,292624,41

In [138]:
column='main_category'
# Create a label (category) encoder object
le = preprocessing.LabelEncoder()
# Fit the encoder to the pandas column
le.fit(kickstarter_2018[column])

LabelEncoder()

In [70]:
# View encoder mapping
dict(zip(le.classes_,le.transform(le.classes_)))

{'Art': 0,
 'Comics': 1,
 'Crafts': 2,
 'Dance': 3,
 'Design': 4,
 'Fashion': 5,
 'Film & Video': 6,
 'Food': 7,
 'Games': 8,
 'Journalism': 9,
 'Music': 10,
 'Photography': 11,
 'Publishing': 12,
 'Technology': 13,
 'Theater': 14}

In [71]:
# Apply the fitted encoder to the pandas column
kickstarter_2018[column] = le.transform(kickstarter_2018[column]) 
kickstarter_2018.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_hashed
ID,,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,12,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95,a6828ae8a2eca25f0dd7035efc0af0a0
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,6,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00,81609b3bdc0b96f429672d69702f2524
1000004038,Where is Hank?,Narrative Film,6,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00,c12f5c3bace2f0213cdb2679a265dca0
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,10,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00,4dbdcf09c86bbf5683ec39bc57b77f81
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,6,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00,9c01404a2ef702811c2088ce139042ad

In [72]:
# Reversing encoding
kickstarter_2018[column] = le.inverse_transform(kickstarter_2018[column]) 
kickstarter_2018.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_hashed
ID,,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95,a6828ae8a2eca25f0dd7035efc0af0a0
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00,81609b3bdc0b96f429672d69702f2524
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00,c12f5c3bace2f0213cdb2679a265dca0
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00,4dbdcf09c86bbf5683ec39bc57b77f81
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00,9c01404a2ef702811c2088ce139042ad

In [73]:
from sklearn.preprocessing import LabelBinarizer
other_column = 'state'

lb = LabelBinarizer()

lb_results = lb.fit_transform(kickstarter_2018[other_column])
pd.DataFrame(lb_results, columns=((other_column + '_') + pd.Series(lb.classes_))).head(10)

,state_canceled,state_failed,state_live,state_successful,state_suspended,state_undefined
0,0,1,0,0,0,0
1,0,1,0,0,0,0
2,0,1,0,0,0,0
3,0,1,0,0,0,0
4,1,0,0,0,0,0
5,0,0,0,1,0,0
6,0,0,0,1,0,0
7,0,1,0,0,0,0
8,1,0,0,0,0,0
9,1,0,0,0,0,0

More about preprocessing in http://scikit-learn.org/stable/modules/classes.html#module-sklearn.preprocessing

#### Ejercicio 4

Codificar `currency` con ambas estrategias

In [74]:
kickstarter_2018['currency'].unique()

array(['GBP', 'USD', 'CAD', 'AUD', 'NOK', 'EUR', 'MXN', 'SEK', 'NZD',
       'CHF', 'DKK', 'HKD', 'SGD', 'JPY'], dtype=object)

Codificamos primero con LabelEncoding (es decir, cada categoría se mapea con un nro)

In [75]:
column='currency'
# Create a label (category) encoder object
le = preprocessing.LabelEncoder()
# Fit the encoder to the pandas column
le.fit(kickstarter_2018[column])

LabelEncoder()

In [76]:
# View encoder mapping
#dict(zip(le.classes_,le.transform(le.classes_)))
dict(zip(le.classes_,le.transform(le.classes_)))

{'AUD': 0,
 'CAD': 1,
 'CHF': 2,
 'DKK': 3,
 'EUR': 4,
 'GBP': 5,
 'HKD': 6,
 'JPY': 7,
 'MXN': 8,
 'NOK': 9,
 'NZD': 10,
 'SEK': 11,
 'SGD': 12,
 'USD': 13}

In [77]:
# Apply the fitted encoder to the pandas column
kickstarter_2018['currency'] = le.transform(kickstarter_2018['currency']) 
kickstarter_2018.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_hashed
ID,,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,5,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95,a6828ae8a2eca25f0dd7035efc0af0a0
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,13,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00,81609b3bdc0b96f429672d69702f2524
1000004038,Where is Hank?,Narrative Film,Film & Video,13,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00,c12f5c3bace2f0213cdb2679a265dca0
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,13,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00,4dbdcf09c86bbf5683ec39bc57b77f81
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,13,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00,9c01404a2ef702811c2088ce139042ad

In [139]:
# volvemos a leer el dataset pq habiamos pisado currency
# mejor no, porque al pisar deberiamos volver a cambiar el campo usd pledged por usd_pledged
#kickstarter_2018 = pd.read_csv(BASE_DIR + "/input/kickstarter-projects/ks-projects-201801.csv")

from sklearn.preprocessing import LabelBinarizer
other_column = 'currency'

lb = LabelBinarizer()

lb_results = lb.fit_transform(kickstarter_2018[other_column])
lb_results
pd.DataFrame(lb_results, columns=((other_column + '_') + pd.Series(lb.classes_))).head(10)

,currency_AUD,currency_CAD,currency_CHF,currency_DKK,currency_EUR,currency_GBP,currency_HKD,currency_JPY,currency_MXN,currency_NOK,currency_NZD,currency_SEK,currency_SGD,currency_USD
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,0,0,0,0,1
6,0,0,0,0,0,0,0,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,0,0,0,1
9,0,0,0,0,0,0,0,0,0,0,0,0,0,1

## 2.4. No cambiar los nombres de las variables de la fuente de origen

## 2.5. Verificar la consistencia de las variables
Aplicar reglas de integridad

In [140]:
kickstarter_2018.head()

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_hashed,name_weirdness
ID,,,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.00,2015-08-11 12:12:28,0.00,failed,0,GB,0.00,0.00,1533.95,a6828ae8a2eca25f0dd7035efc0af0a0,0
1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.00,2017-09-02 04:43:57,2421.00,failed,15,US,100.00,2421.00,30000.00,81609b3bdc0b96f429672d69702f2524,0
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.00,2013-01-12 00:20:50,220.00,failed,3,US,220.00,220.00,45000.00,c12f5c3bace2f0213cdb2679a265dca0,0
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.00,2012-03-17 03:24:11,1.00,failed,1,US,1.00,1.00,5000.00,4dbdcf09c86bbf5683ec39bc57b77f81,0
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.00,2015-07-04 08:35:03,1283.00,canceled,14,US,1283.00,1283.00,19500.00,9c01404a2ef702811c2088ce139042ad,0

¿Hay proyectos sin patrocinadores pero con plata prometida?

In [141]:
kickstarter_2018[(kickstarter_2018.backers == 0) & (kickstarter_2018.usd_pledged > 0)]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_hashed,name_weirdness
ID,,,,,,,,,,,,,,,,
100173829,La Press: Make Soap at Home in 2 minutes. No C...,Gadgets,Technology,CAD,2017-11-11,40000.00,2017-09-12 05:11:01,0.00,failed,0,CA,86.46,0.00,31343.05,cbcc3c7dad48ed37d2cdd1934856dcbf,0
1004972393,AlwaysRemembered.com The new way to remember o...,Web,Technology,AUD,2017-05-15,100000.00,2017-04-15 09:17:40,0.00,failed,0,AU,18.93,0.00,74371.56,d73273df2548071ee9d03b1f8e8dbe3b,0
1006945199,Have your Cake and Eat it too!,Food,Food,USD,2016-12-05,10000.00,2016-11-05 20:16:29,0.00,canceled,0,US,24.00,0.00,10000.00,0753d15df31c5f426a8ec48e598ebd08,0
1019661678,Presidential Pareidolia,Digital Art,Art,USD,2017-05-14,66600.00,2017-04-14 23:13:10,0.00,failed,0,US,25.00,0.00,66600.00,062149628560c4b4976ca4abe3bfbd31,0
1031663961,The Lite Bros. Series,Comics,Comics,USD,2017-05-09,10000.00,2017-04-09 02:20:51,0.00,failed,0,US,25.00,0.00,10000.00,895358fda4e49d9e53b54ce87882d88c,0
1037887032,The Undergraduate Scholarship Quarterly,Periodicals,Publishing,USD,2017-05-04,10000.00,2017-04-19 19:13:55,0.00,failed,0,US,25.00,0.00,10000.00,a77af1418eb3bff3755fb4c6d3e8787d,0
1039895327,iSchool,Technology,Technology,EUR,2017-07-01,20000.00,2017-06-01 14:45:27,0.00,failed,0,IT,223.54,0.00,22824.02,f16b79942227740e10205e838daf7f59,0
1039940191,XAM?N: 100% AGAVE,Drinks,Food,USD,2016-08-15,20000.00,2016-07-06 06:48:29,0.00,failed,0,US,145.00,0.00,20000.00,c1c7057958fa6c427511eff69a467636,0
104562843,Royalty-Free Trap Music Videos,Electronic Music,Music,USD,2017-01-28,3000.00,2016-11-29 05:18:04,0.00,canceled,0,US,3.00,0.00,3000.00,29e2eee793fc21c073255344881ab22b,0
1050338924,Families Who Eat Together Stay Together!,Food,Food,GBP,2017-05-15,12000.00,2017-04-15 14:09:17,0.00,failed,0,GB,31.27,0.00,15615.24,e4da6e81ba290154578f5da50c3b9209,0
1051154899,Undocumented: Funds for publishing of my ficti...,Fiction,Publishing,USD,2017-08-12,1000.00,2017-07-13 16:32:09,0.00,failed,0,US,40.00,0.00,1000.00,3c3013485dff1c120998084163f0f429,0
1051720010,Peperless Future,Apps,Technology,USD,2016-12-10,3700.00,2016-11-10 19:58:07,0.00,failed,0,US,1.00,0.00,3700.00,e9d83f497f0acbeaa4193c47f53f0d2a,0
1052301248,Blood Ash,Fiction,Publishing,USD,2017-05-21,1400.00,2017-04-21 20:48:27,0.00,failed,0,US,10.00,0.00,1400.00,44fc552bbf0e4820aa27a474b956156f,0
1064127689,Courage to Conquer Web Series,Webseries,Film & Video,USD,2017-02-02,15000.00,2016-12-30 07:44:38,0.00,failed,0,US,100.00,0.00,15000.00,90b5d9cc663a19289e279bfe7933a1d8,0
107462950,Help @Vita to record an album to come back his...,Comedy,Music,USD,2017-02-18,1.00,2017-01-19 20:11:37,0.00,failed,0,US,20.00,0.00,1.00,a47cc94931f4d7307fab842b575d6820,0
1088207503,OWR Roots. Arts. Culture Festival 2017,Festivals,Theater,USD,2017-07-12,7000.00,2017-06-12 18:20:40,0.00,failed,0,US,50.00,0.00,7000.00,09e7182386ad05371d323e6391c8829b,0
1097673976,Cheering from Italy,Documentary,Film & Video,EUR,2017-05-26,4000.00,2017-03-27 18:28:55,0.00,failed,0,IT,27.01,0.00,4478.38,97bd5c149e2c1a678a3eec11224a5464,0
1097782445,Paws2People,Apps,Technology,USD,2017-12-08,80000.00,2017-10-24 00:28:14,0.00,failed,0,US,25.00,0.00,80000.00,3b3b6a2676d245c86e24af516ecb5edf,0
1097822147,"""PIÉNSALO 2 VECES""",Plays,Theater,MXN,2017-05-05,30000.00,2017-04-16 06:44:47,0.00,failed,0,MX,1.35,0.00,1574.31,6322ddc2ecb66a5d104cdcb0c5232441,0
1103822371,Patches for everyone - Café Viereck,Design,Design,EUR,2017-05-20,15000.00,2017-04-20 08:05:51,0.00,failed,0,DE,26.80,0.00,16793.93,8bcf0e0bb45466567539373c4fb7eeaf,0
110453253,HOME Emergency Preparedness. Resiliency. Safet...,Apps,Technology,USD,2017-04-04,2500.00,2017-03-28 18:44:51,0.00,failed,0,US,25.00,0.00,2500.00,c001409c03469c79f80b16677c3f4ede,0
1104637995,Harry's DogPack,Product Design,Design,USD,2017-05-13,20000.00,2017-04-11 19:47:18,0.00,canceled,0,US,25.00,0.00,20000.00,02a72b7ba1979a75dc073f18f57c0fdb,0
1130613074,"Luce Quadra : Coffee table, glove box & ambien...",Product Design,Design,EUR,2017-05-16,25000.00,2017-04-16 11:14:11,0.00,failed,0,IT,26.53,0.00,27947.64,f9cc3840be219d0b44c4af1b5689553c,0
1136802303,BOULDER,Documentary,Film & Video,USD,2017-12-01,2500.00,2017-10-02 21:28:34,0.00,failed,0,US,20.00,0.00,2500.00,2703ce5849f7590bac1d2d42ab496dd1,0
1137626463,"Rigid3D, Medium to Large High Quality Precisio...",3D Printing,Technology,EUR,2016-10-25,40000.00,2016-09-25 20:30:02,0.00,canceled,0,IE,168.44,0.00,43688.15,32d93b6b7a3b556d7895b2cb982e1775,0
1138397473,THE SNEAKER CLEANERS,Footwear,Fashion,USD,2017-12-22,25000.00,2017-10-23 04:15:57,0.00,failed,0,US,100.00,0.00,25000.00,f61d8bd3151eb046d19c7c3b62ac4451,0
1138745536,"""Born Again"" - Share Your Inner Beauty with th...",Nature,Photography,USD,2017-05-10,50000.00,2017-04-10 00:38:22,0.00,failed,0,US,25.00,0.00,50000.00,d985f93a608757f5be3c036e18ba9f0b,0
1140686007,SILVER PAGES + LIFELINES (double project relea...,Music,Music,USD,2017-02-20,1.00,2016-12-28 17:57:43,0.00,canceled,0,US,20.00,0.00,1.00,e54e222eaf8b24ef88165c2a6fdd6533,0
1150466424,Want to play the board game KICKSTARTER YOU AR...,Games,Games,USD,2017-05-16,13600.00,2017-04-11 07:08:18,0.00,canceled,0,US,39.00,0.00,13600.00,e1ef95b6467edead92303aa07cc68f76,0
116438579,"100% Silk Necklaces & Bracelet, Silk Thread Ta...",Jewelry,Fashion,USD,2017-08-09,3000.00,2017-07-10 07:10:20,0.00,failed,0,US,25.00,0.00,3000.00,a9a6a010231ec139769329b46bbc4c1f,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771293950,Pixelate: The Next Game to Destroy Friendships,Video Games,Games,USD,2017-02-25,10000.00,2017-01-26 04:03:22,0.00,failed,0,US,25.00,0.00,10000.00,d4bd19b3f36129a79bbc3eab4f32b04a,0
773493220,Grabación de Albúm España 2017 Señor Serio - S...,Music,Music,EUR,2017-05-12,6500.00,2017-04-17 13:23:06,0.00,failed,0,ES,26.53,0.00,7069.37,cf3beda1a18953f69f34f054bde5b7a2,0
775139653,The Park Pay and Stay App,Apps,Technology,GBP,2017-06-14,40000.00,2017-04-15 10:11:28,0.00,failed,0,GB,31.27,0.00,51076.44,d4c296965ab3873784098975cc5322a5,0
778477372,AWESOME WORLD : DISCOVER THE WORLD,Web,Technology,USD,2016-12-31,125000.00,2016-11-05 19:10:59,0.00,failed,0,US,100.00,0.00,125000.00,cae163b539e8872b16ae0588e224e624,0
783060249,Treasures From The Word,Nonfiction,Publishing,USD,2017-12-08,5000.00,2017-10-09 04:30:35,0.00,failed,0,US,29.00,0.00,5000.00,d43afed8e1f23e92e0966ab2302045ee,0
786348291,20s A Difficult Age - The Video Game,Video Games,Games,USD,2017-12-08,35000.00,2017-10-09 15:38:37,0.00,canceled,0,US,1.00,0.00,35000.00,b2d2c2282880ad31db48c7302ea7ca55,0
797562974,You-Con,Film & Video,Film & Video,USD,2017-01-17,35000.00,2016-12-03 03:40:47,0.00,failed,0,US,102.00,0.00,35000.00,545671042385a240e4947ad4cd6b3e31,0
80485427,BusinessTerra Worldwide Platform affordable fo...,Technology,Technology,GBP,2017-02-13,12000.00,2017-01-14 16:34:49,0.00,failed,0,GB,6.08,0.00,14909.05,af9cfd29486a9bfdc87f58d1a0c501b4,0
805836463,Funding a Performing Arts Theatre for Children...,Musical,Theater,USD,2016-11-22,15000.00,2016-10-23 18:00:23,0.00,failed,0,US,10.00,0.00,15000.00,521b0b3d1b29db0ff830c2ae90c66064,0
806472586,A Game of Soldiers,Plays,Theater,GBP,2017-06-13,15000.00,2017-04-14 13:45:04,0.00,failed,0,GB,31.40,0.00,19153.66,0dc5a052ef6ed1db0db372b55a99b6f3,0
816152387,Good Earth Cafe,Food,Food,USD,2016-12-08,24400.00,2016-11-10 01:41:30,0.00,failed,0,US,10.00,0.00,24400.00,bd2e5e6bdb72da351188a824968c27b2,0
817495998,3d Memories,Printing,Crafts,MXN,2017-05-26,350000.00,2017-03-27 20:20:28,0.00,failed,0,MX,1.33,0.00,18945.55,53f922967804e7e8214bb4d622d37da0,0
831864842,Alpha Prime,Tabletop Games,Games,GBP,2017-10-07,45000.00,2017-09-07 01:21:45,0.00,canceled,0,GB,122.84,0.00,59726.85,0e0019a8164044c1df9485456fd83126,0
831982875,Timeline App,Apps,Technology,USD,2017-04-27,5000.00,2017-03-28 22:03:40,0.00,canceled,0,US,25.00,0.00,5000.00,865232aec6f7f3eb4dffbeede250f129,0
841884816,All Natural Bath & Body Treats Beauty Gift Box,Crafts,Crafts,USD,2017-12-04,1500.00,2017-11-04 03:31:28,0.00,failed,0,US,30.00,0.00,1500.00,5bac1aed84acfd23156f66520c4cdd27,0
846555805,"Vintage Skate-Vase, Limited Edition of 250, Nu...",Conceptual Art,Art,USD,2017-09-02,5500.00,2017-07-04 22:36:28,0.00,failed,0,US,20.00,0.00,5500.00,f92c1e695a4e7c693fddaee6b44f0c69,0
871593952,Programmieren für ein besseres Leben,Apps,Technology,EUR,2017-02-12,40000.00,2017-01-13 17:28:46,0.00,failed,0,DE,5.30,0.00,42599.87,55984855399ea38bdb220e8a9dc8053c,0
888587273,Fatty-D's Charburger Grill,Food Trucks,Food,USD,2017-05-12,65000.00,2017-04-12 11:41:19,0.00,failed,0,US,25.00,0.00,65000.00,c74bba434252ca17f8520076cac74b6c,0
89103022,Innovative exercise equipment developed by Sym...,Product Design,Design,USD,2017-05-23,50000.00,2017-03-24 20:17:57,0.00,failed,0,US,25.00,0.00,50000.00,7e122fc9893f37ccc3d50b47c352cda8,0
904996877,Campus Food Ordering App (FOODORME),Restaurants,Food,USD,2017-03-30,5000.00,2017-02-03 22:28:48,0.00,failed,0,US,8.00,0.00,5000.00,0ab24881ab08c65125f9c1d51288a96a,0
909080977,End Of The Trail Records Kickstarter,Music,Music,GBP,2017-05-16,5000.00,2017-04-18 23:44:37,0.00,failed,0,GB,31.36,0.00,6506.35,551dfc829dea8081d60a312546045842,0
911925118,International/Domestic Student room platform,Web,Technology,EUR,2016-12-18,50000.00,2016-11-18 10:20:15,0.00,failed,0,NL,64.19,0.00,52230.23,b9b1d509f33b8bead7e2606a41e7b5db,0
913066071,Snack Gloves and Glovkins,Product Design,Design,USD,2017-09-08,70000.00,2017-07-10 18:22:30,0.00,failed,0,US,1.00,0.00,70000.00,c3308381ea4dbe348c90d84bbe7521bc,0
916919369,The Last of the Blood God's,Fiction,Publishing,USD,2016-12-23,1500.00,2016-10-24 15:06:52,0.00,failed,0,US,28.00,0.00,1500.00,5adf40f43e4f62b529916ac12e3d508d,0
927798302,Randezy's first Mixtape!,Hip-Hop,Music,USD,2017-05-16,10000.00,2017-04-16 07:33:09,0.00,failed,0,US,25.00,0.00,10000.00,2ae6f9462023bc3da278287ce7a48fc9,0
928930112,"Hitchhike for 5,610 miles and try to reach Ell...",Documentary,Film & Video,SEK,2017-03-06,45000.00,2017-01-05 14:18:14,0.00,failed,0,SE,10.91,0.00,4983.11,5570d8a0f8d70d3cea68476728c36d3f,0
930939140,RetroNemesis Arcade Clothing Line,Apparel,Fashion,USD,2017-05-12,750.00,2017-04-12 21:18:11,0.00,failed,0,US,25.00,0.00,750.00,b124d70dd259dc9f879de7802d28714f,0
945359364,Painting the faces of strangers,Digital Art,Art,GBP,2017-12-04,50.00,2017-11-03 23:48:24,0.00,failed,0,GB,53.12,0.00,67.08,78f82dede38d7223c7cbc3c01ecf71b6,0
950767056,Sins Of A Son,Documentary,Film & Video,USD,2010-09-04,3500.00,2010-07-02 23:41:15,1.00,failed,0,US,1.00,1.00,3500.00,8dfb37d57e53f9384f4f3b35203e374e,0
958530198,DIY Easy To Hang Handmade Reclaimed Barn Wood ...,DIY,Crafts,USD,2017-08-07,10000.00,2017-07-08 20:33:01,0.00,failed,0,US,100.00,0.00,10000.00,3a4e407835efb0b0101f0fc518281ead,0

¿Hay proyecto no exitosos que pasaron el objetivo?

In [142]:
kickstarter_2018[(kickstarter_2018.state != 'successful') & (kickstarter_2018.pledged > kickstarter_2018.goal)]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,usd_pledged_real,usd_goal_real,name_hashed,name_weirdness
ID,,,,,,,,,,,,,,,,
100149523,Duncan Woods - Chameleon EP,Music,Music,AUD,2015-08-25,4500.00,2015-08-04 12:05:17,4767.00,undefined,0,"N,0""",0.00,3402.08,3211.53,5e380aed7fb3ac232113ad8b84f6e281,0
1001732009,DotPen : Redefines drawing and writing for sma...,Product Design,Design,USD,2014-08-09,25000.00,2014-06-30 21:17:10,39693.00,suspended,647,US,39693.00,39693.00,25000.00,6b1a3a0d5c57093ffb8af5cf7cd3f0d6,0
1002379225,"The World's First Genuine, Intuitively-control...",Technology,Technology,USD,2017-06-15,5000.00,2017-05-01 18:37:51,61416.00,canceled,103,US,13700.00,61416.00,5000.00,2d8fba2c10d697a9788c7d671f4f897e,0
1002854072,Spycup turns your iPhone into a hidden camera ...,Gadgets,Technology,CAD,2015-12-19,5000.00,2015-11-19 17:26:34,6672.00,canceled,115,CA,5006.57,4810.38,3604.90,6c9c718781cfc0153b5d4c8e1983f634,0
1003023003,The Making of Ashley Kelley's Debut Album,Music,Music,USD,2015-04-09,3500.00,2015-03-10 20:06:13,3576.00,undefined,0,"N,0""",0.00,3576.00,3500.00,db6c3338a76817fba7fa342ed6e8484f,0
1003130892,Butter Side Down Debut Album,Music,Music,USD,2015-11-26,6000.00,2015-11-02 22:09:19,7007.80,undefined,0,"N,0""",0.00,7007.80,6000.00,c6453b947fa89bb74055d6ac199670cb,0
1003500859,I Can't Believe It's Not Potato Salad ! (Cance...,Cookbooks,Food,GBP,2014-08-10,10.00,2014-07-11 13:35:05,12.00,canceled,3,GB,20.59,20.03,16.69,7d64ece4f821ee7148d8cf903d2d15f4,0
1003629045,Chase Goehring debut EP,Music,Music,USD,2016-03-21,3000.00,2016-02-23 03:09:49,3660.38,undefined,0,"N,0""",0.00,3660.38,3000.00,82871f83555fc30a3126ee35bc582f24,0
100372771,A Big Dream of a Little Man - Alex Oddman's De...,Music,Music,USD,2017-01-19,1.00,2016-12-20 22:01:21,7.00,canceled,1,US,7.00,7.00,1.00,ac86c71b21dccd618a914ae92ff71686,0
1004013077,Spencer Capier Instrumental Project 2015,Music,Music,CAD,2014-10-10,4000.00,2014-09-10 22:51:01,4760.00,undefined,0,"N,0""",0.00,4251.14,3572.39,8c862d0bdb17b09b0f4648d6481a2ce3,0
1004126342,LUKAS LIGETI'S 50TH BIRTHDAY FESTIVAL: ORIGINA...,Music,Music,USD,2015-06-11,5000.00,2015-05-15 02:12:35,6370.00,undefined,0,"N,0""",0.00,6370.00,5000.00,39bc2adfb03ba4b249a05a574a9e3128,0
1004255433,The Battle For Breukelen: A Neighborhood Epic,Film & Video,Film & Video,USD,2015-11-07,6000.00,2015-10-10 18:45:24,6695.00,undefined,0,"N,0""",0.00,6695.00,6000.00,1977254adc7cd06aaf8f3af17ff2ec6f,0
1004298993,"""Tamboura Plays Violin"" - a collection of Pop ...",Music,Music,USD,2015-03-28,2750.00,2015-02-11 19:28:27,2926.00,undefined,0,"N,0""",0.00,2926.00,2750.00,941466bc8d50d9e1eb8364848b604483,0
1004402863,Nightingale Noel - An A Cappella Holiday CD,Music,Music,USD,2015-12-11,1200.00,2015-11-11 21:02:55,1585.00,undefined,0,"N,0""",0.00,1585.00,1200.00,eb8159308f724a27771ec428d74068f6,0
1004434782,DIY BOXCAT by Rato Kim - The Vinyl Art Toy Pla...,DIY,Crafts,USD,2018-01-06,2023.00,2017-12-04 17:26:58,3128.00,live,77,US,190.00,3128.00,2023.00,8c2ad1e97b0d97f5b09b8e501f0a2c00,0
1005618996,Masters of the Tooniverse Podcast (Suspended),Webseries,Film & Video,USD,2013-07-02,3200.00,2013-05-30 19:24:22,3226.00,suspended,24,US,3226.00,3226.00,3200.00,352018eab47343af4ee2499651cfc06a,0
1006327667,Letters to the Wild - EP,Music,Music,USD,2014-10-31,2000.00,2014-10-02 22:48:31,2560.00,undefined,0,"N,0""",0.00,2560.00,2000.00,709339308b5ca0a58e9f769413034189,0
100822204,Freedom Ride Jacket | Revolutionizing Urban Cy...,Product Design,Design,USD,2018-01-20,20000.00,2017-11-21 15:02:31,55135.00,live,474,US,15459.00,55135.00,20000.00,d00496f20728de5f5059d14fea64246f,0
1008675685,Inspired & the Sleep EP - Eyelid Kid,Music,Music,USD,2015-10-30,2000.00,2015-10-04 21:48:11,2079.00,undefined,0,"N,0""",0.00,2079.00,2000.00,5fe4697be90a140f140e02aa193b06ae,0
1008815806,Into Winter: An Instrumental Christmas Experiment,Music,Music,USD,2014-10-11,2000.00,2014-09-10 23:23:40,2085.00,undefined,0,"N,0""",0.00,2085.00,2000.00,494829f8b28fa4cfa927c4fe13ce7cad,0
1009260867,"Rude Story Cards. An easy, fun & outrageous pa...",Tabletop Games,Games,CAD,2016-10-14,100.00,2016-08-15 19:16:59,121.00,canceled,4,CA,165.99,91.90,75.95,882c85467073d30dba7b554a05bf345d,0
1009774693,Universal Peace | Universal Justice,Music,Music,USD,2014-09-06,2500.00,2014-07-29 23:01:07,2720.00,undefined,0,"N,0""",0.00,2720.00,2500.00,161b7fb2c0c0f0593d44234ecace389e,0
1010217550,Solarboot-Havel-Tour,Music,Music,EUR,2015-05-31,2500.00,2015-05-14 23:05:51,2620.00,undefined,0,"N,0""",0.00,2939.13,2804.51,5af4aa693c2ef041aaf88a30bc3278f4,0
1010694326,Surrender,Music,Music,CAD,2015-01-30,5000.00,2014-12-29 01:27:30,5197.00,undefined,0,"N,0""",0.00,4101.82,3946.33,92fa0b43cbcc2b7610cdb157d273c5fa,0
1011508551,EBENEZER Solo Record,Music,Music,USD,2015-05-30,8000.00,2015-04-20 17:33:24,8361.00,undefined,0,"N,0""",0.00,8361.00,8000.00,d1431d434393d672d2ec9e386b39947a,0
1012704793,Life In The Bus Lane,Film & Video,Film & Video,USD,2014-12-21,7500.00,2014-11-21 05:09:09,9329.00,undefined,0,"N,0""",0.00,9329.00,7500.00,d231f855c3067a2e01c7617477d49056,0
1012807897,Juliet Remembered,Film & Video,Film & Video,GBP,2016-02-06,6500.00,2016-01-07 13:44:33,6660.12,undefined,0,"N,0""",0.00,9660.05,9427.80,0a04f4786fac3d218ab959a6b5bcd11e,0
1014077376,Joseph in the Well's Debut EP - Indie String Pop,Music,Music,USD,2015-05-01,7500.00,2015-04-01 18:36:53,7705.00,undefined,0,"N,0""",0.00,7705.00,7500.00,b1497411b318aed1a9511c1f485df9f0,0
1015045443,Support Nadine's Musical Venture,Music,Music,USD,2015-06-01,2100.00,2015-04-08 20:05:33,2101.00,undefined,0,"N,0""",0.00,2101.00,2100.00,1457938067b5ff504ad7eee5dc875aea,0
1015771770,THE POET,Film & Video,Film & Video,USD,2015-04-12,4000.00,2015-03-13 16:04:21,4592.00,undefined,0,"N,0""",0.00,4592.00,4000.00,fea9b647bed663acaf4ee78dc16d3ab5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981103283,Chappie OST Listening Party 12 Hr #TheChappeni...,Installations,Art,USD,2015-04-01,11.00,2015-03-26 06:49:04,12.00,suspended,2,US,12.00,12.00,11.00,761d54eb223e348e1a2aae7024090548,0
981146646,Dollar Bill Origami (Canceled),Art,Art,USD,2015-02-14,20.00,2015-01-15 02:41:13,22.00,canceled,3,US,22.00,22.00,20.00,b2cc0467498e44861833133b9a6b0da6,0
981182186,Save the Ramzi (Canceled),Music,Music,USD,2009-06-15,1000.00,2009-05-14 22:27:25,1190.00,canceled,18,US,1190.00,1190.00,1000.00,63406be3f1846b514c696fe54ac5aa65,0
982327172,Kalimba The Spirit of Earth Wind and Fire DVD ...,Music,Music,USD,2015-05-07,2000.00,2015-03-23 17:10:14,2086.00,undefined,0,"N,0""",0.00,2086.00,2000.00,14b268d31ebd40516c5462620e2c8c9f,0
982329957,The Atlanta Vocal Project Christmas CD,Music,Music,USD,2014-11-14,2500.00,2014-10-15 18:01:45,2976.00,undefined,0,"N,0""",0.00,2976.00,2500.00,8d4cc41a6af909fb56d56275605e97bb,0
982721469,"TAVAPUTS Vinyl Record ""Unresting Event""",Music,Music,USD,2014-12-22,1500.00,2014-11-21 06:39:03,1755.00,undefined,0,"N,0""",0.00,1755.00,1500.00,866889ebdebaf5093584035aac66981a,0
983679756,Custom Hand-made 3-Strand Bracelets! (Suspended),Fashion,Fashion,USD,2014-03-10,200.00,2014-02-10 22:32:22,260.00,suspended,6,US,260.00,260.00,200.00,5e98196b35ff1fae9b3a8dc7fa9d734c,0
983728691,The Octopodes' 5th Studio Album!,Music,Music,USD,2016-01-05,8000.00,2015-11-19 23:43:09,8025.00,undefined,0,"N,0""",0.00,8025.00,8000.00,ff59c32540ad8a8f7bbe0612af8c01b5,0
984297189,Major Arcana Tarot by A MIYAKO M,Illustration,Art,USD,2018-02-03,1000.00,2017-12-16 02:13:40,4125.00,live,94,US,2259.00,4125.00,1000.00,a42fa1d33165717b8cf4be0172e22fea,0
985231591,TWO FISH,Film & Video,Film & Video,USD,2014-05-17,8000.00,2014-04-21 21:52:55,8562.00,undefined,0,"N,0""",0.00,8562.00,8000.00,949555b1a9b2e36c034f6e6b765cd401,0
986616604,What awaits in Austin (Suspended),Photobooks,Photography,USD,2015-03-15,500.00,2015-02-13 02:16:21,1000.00,suspended,1,US,1000.00,1000.00,500.00,0c902c36404ea957fe16e3163bf26544,0
988763792,Maud Sings Maud: A Musical Betsy-Tacy Companion,Music,Music,USD,2015-12-03,6500.00,2015-10-04 00:55:19,7814.00,undefined,0,"N,0""",0.00,7814.00,6500.00,7218ec7c8940cf32ef22cb1e32e5b9b7,0
991409513,Chris Copeland's First EP,Music,Music,USD,2015-02-28,5500.00,2015-01-29 02:58:24,5763.00,undefined,0,"N,0""",0.00,5763.00,5500.00,1d3623b375832a0728da61df24191254,0
991483230,Support Vocal Synergy's Second Semester and Te...,Music,Music,USD,2015-12-20,3400.00,2015-12-05 05:10:10,3435.00,undefined,0,"N,0""",0.00,3435.00,3400.00,a776df294f0ace94ea6740c38afc6e84,0
991820324,The Blend CD 2015,Music,Music,USD,2015-05-15,8000.00,2015-04-15 00:07:51,8156.00,undefined,0,"N,0""",0.00,8156.00,8000.00,e5c7b5dde05b73d8d8fc1ffa5648afd8,0
992433603,Jonny Come Lately,Film & Video,Film & Video,USD,2014-12-24,8500.00,2014-11-24 20:47:45,9146.00,undefined,0,"N,0""",0.00,9146.00,8500.00,4f4e6723d95bc681167b4b2e1309275a,0
992987490,Bicycle Neon Card - Save the night of old Hong...,Playing Cards,Games,HKD,2018-01-17,32000.00,2017-12-18 20:26:07,43573.00,live,85,HK,658.55,5569.00,4089.88,4aa56949a8d9aa63be6d65e43bf1d09b,0
993591351,Boards & Brews - New Hampshire's First Board G...,Tabletop Games,Games,USD,2018-01-05,15000.00,2017-12-06 16:00:18,23397.00,live,140,US,11116.00,23397.00,15000.00,cd905694df25126bf998aeedeb19518c,0
994080962,Maximum Coppage,Film & Video,Film & Video,USD,2014-08-19,3000.00,2014-07-18 03:42:11,3175.00,undefined,0,"N,0""",0.00,3175.00,3000.00,bbdd6d1483234e087fa7f2e78d65ffa1,0
994137973,UsBidi - The World's Most Intelligent Charger ...,Gadgets,Technology,AUD,2015-12-04,35000.00,2015-10-20 15:33:54,501964.79,suspended,8180,AU,365230.79,367309.23,25611.01,b755dc85b42591c8ef686d366ef3c7fa,0
994621918,Star Sailor,Film & Video,Film & Video,USD,2016-01-01,8000.00,2015-12-03 20:25:41,8061.00,undefined,0,"N,0""",0.00,8061.00,8000.00,32f77cf0090deb2536943f8a31f16023,0
994933706,Whiskey and Holy Water,Music,Music,USD,2015-05-11,6500.00,2015-03-25 03:55:53,6696.00,undefined,0,"N,0""",0.00,6696.00,6500.00,383a4bec27e6347151543aa79f4f8d76,0
995225156,The World's First Multifunctional Urban Jacket...,Product Design,Design,EUR,2016-08-13,23000.00,2016-06-21 10:03:37,23192.00,canceled,74,IT,26339.01,26267.39,26049.93,5243fb847c78fc731e2676759bfd8167,0
99613274,Double EP and Music Video Fundraiser,Music,Music,GBP,2015-12-02,3000.00,2015-11-02 09:33:38,3517.00,undefined,0,"N,0""",0.00,5324.59,4541.88,63221f3a1c9309a838c57d0be33caa1b,0
997338128,CAPTAINS TABLE: A Pirate Themed Card Game (Can...,Tabletop Games,Games,USD,2015-05-18,165.00,2015-04-10 18:08:19,374.00,canceled,15,US,374.00,374.00,165.00,cdbd6f91e6682a9a913d18d49e3d3940,0
997445060,The Every Day Carry Sling Belt (Canceled),Fashion,Fashion,USD,2012-05-28,1000.00,2012-04-28 07:12:06,1358.00,canceled,35,US,1358.00,1358.00,1000.00,de693a44fb0e3e20cebbf35df12555b2,0
997554968,Susan Picking: Making Music with Kids in the S...,Music,Music,USD,2015-03-01,8000.00,2015-01-31 20:58:01,8582.00,undefined,0,"N,0""",0.00,8582.00,8000.00,2d2b9c51ff1402a9056afe3861932303,0
997915422,Otter's First Full Length Album,Music,Music,USD,2015-12-31,5000.00,2015-12-01 00:25:06,6065.26,undefined,0,"N,0""",0.00,6065.26,5000.00,ad683e045b1caa4727c57b994c01ad1c,0
998319149,Emily 2050 - Short Film,Film & Video,Film & Video,CAD,2014-05-23,3000.00,2014-04-08 00:30:09,3102.00,undefined,0,"N,0""",0.00,2845.61,2752.04,fd1c279626d39862f637316776fc85df,0
999610349,Lady Vendredi: Afrofuturist concept 12 inch EP,Music,Music,GBP,2015-10-19,2000.00,2015-09-21 22:33:18,2125.00,undefined,0,"N,0""",0.00,3273.36,3080.81,05ee5867bc77a523f2597c325b144f80,0

¿Cómo es, en promedio, la correlación entre el objetivo y la plata obtenida?

In [144]:
df = kickstarter_2018.groupby('state')[['goal','pledged']].aggregate('mean')
df['pledged'] / df['goal']

state
canceled     0.03
failed       0.02
live         0.12
successful   2.37
suspended    0.06
undefined    0.52
dtype: float64

¿Cuánta plata se obtiene en promedio por estado y categoría?

In [145]:
kickstarter_2018.pivot_table(values='usd_pledged',index='state',columns='main_category')

main_category,Art,Comics,Crafts,Dance,Design,Fashion,Film & Video,Food,Games,Journalism,Music,Photography,Publishing,Technology,Theater
state,,,,,,,,,,,,,,,
canceled,405.94,722.46,342.51,455.18,3361.22,996.49,1468.05,715.49,3312.50,198.61,585.91,418.70,451.11,3959.58,1472.81
failed,554.10,869.11,263.54,555.21,2353.08,686.00,1368.40,927.01,1970.92,452.95,557.37,565.53,539.22,2018.73,892.50
live,887.49,934.78,95.43,182.59,3559.01,443.48,336.93,1014.11,1678.80,762.78,434.78,832.48,1031.71,2028.49,479.18
successful,5420.99,9178.68,4053.92,4445.79,43545.99,15136.85,12403.29,14227.41,41643.05,8598.27,6283.11,7897.06,7257.91,67226.64,5289.17
suspended,436.70,347.47,201.33,320.43,11471.42,3539.29,2463.24,2708.65,2497.19,44.77,340.77,159.96,422.83,22953.52,57.08
undefined,nan,nan,nan,0.00,0.00,0.00,0.00,nan,0.00,nan,0.00,0.00,0.00,0.00,0.00

#### Ejercicio 5

1. ¿Hay proyecto éxitosos que no consiguieron el objetivo? Si hay, ¿Qué porcentaje sí y cuál no?
2. Calcular una tabla con la cantidad de proyectos por categoría principal y estado.

In [146]:
kickstarter_2018['state'].unique()

array(['failed', 'canceled', 'successful', 'live', 'undefined',
       'suspended'], dtype=object)

In [150]:
kickstarter_2018[['state','goal','pledged','currency']].head()

               state     goal  pledged currency
ID
1000002330    failed  1000.00     0.00      GBP
1000003930    failed 30000.00  2421.00      USD
1000004038    failed 45000.00   220.00      USD
1000007540    failed  5000.00     1.00      USD
1000011046  canceled 19500.00  1283.00      USD

In [151]:
# hay proyectos exitosos que no consiguieron el objetivo?

# no consiguieron el objetivo == el monto prometido(pledged) es menor que el objetivo (goal)
cant_success_no_goal = len(kickstarter_2018[(kickstarter_2018.state == 'successful') & (kickstarter_2018.pledged < kickstarter_2018.goal)])
cant_success_and_goal = len(kickstarter_2018[(kickstarter_2018.state == 'successful') & (kickstarter_2018.pledged >= kickstarter_2018.goal)])
print ("State is Success but not reached the goal: ", cant_success_no_goal)
print ("State is Success and reached the goal: ", cant_success_and_goal)
percent_no_goal_vs_goal = cant_success_no_goal / cant_success_and_goal
print ("%: ", percent_no_goal_vs_goal)

State is Success but not reached the goal:  5
State is Success and reached the goal:  133951
%:  3.732708229128562e-05

Calcular una tabla con la cantidad de proyectos por categoría principal y estado.

In [157]:
kickstarter_2018.pivot_table(values='currency', index='state',columns='main_category', aggfunc=len)

main_category,Art,Comics,Crafts,Dance,Design,Fashion,Film & Video,Food,Games,Journalism,Music,Photography,Publishing,Technology,Theater
state,,,,,,,,,,,,,,,
canceled,2222.00,842.00,843.00,163.00,4152.00,2650.00,5755.00,2211.00,6202.00,523.00,3305.00,986.00,3602.00,4715.00,608.00
failed,14130.00,4036.00,5703.00,1235.00,14814.00,14182.00,32903.00,15969.00,16002.00,3137.00,21752.00,6384.00,23145.00,20616.00,3708.00
live,194.00,76.00,76.00,18.00,305.00,250.00,332.00,184.00,287.00,31.00,281.00,48.00,299.00,377.00,41.00
successful,11510.00,5842.00,2115.00,2338.00,10550.00,5593.00,23623.00,6085.00,12518.00,1012.00,24197.00,3305.00,12300.00,6434.00,6534.00
suspended,96.00,23.00,72.00,13.00,246.00,138.00,117.00,153.00,220.00,52.00,149.00,55.00,66.00,424.00,21.00
undefined,nan,nan,nan,1.00,2.00,3.00,854.00,nan,1.00,nan,2234.00,1.00,462.00,3.00,1.00

In [159]:
# chequeamos si funciono bien el pivot_table
len(kickstarter_2018.query('state=="canceled" & main_category=="Art"'))

2222

## 2.6. Identificar y documentar valores atípicos/outliers

Queremos analizar las características de los proyectos que obtienen dinero pero sin considerar los casos atípicos.

In [ ]:
%matplotlib inline
kickstarter_2018.usd_pledged.hist();

In [ ]:
kickstarter_2018.boxplot(column='usd_pledged');

"There are many rules of thumb for how to define an outlier but there is no silver bullet. One rule of thumb is that any data point that is three standard deviations away from the mean of the same data point for all observations."

In [ ]:
outliers = kickstarter_2018[kickstarter_2018.usd_pledged > (kickstarter_2018.usd_pledged.mean() + 
                                                            3 * kickstarter_2018.usd_pledged.std())]
outliers

In [ ]:
kickstarter_2018.drop(outliers.index).boxplot(column='usd_pledged');

In [ ]:
kickstarter_2018.drop(outliers.index).boxplot(column='usd_pledged',by='state');

Analizar outliers por categorías

In [ ]:
kickstarter_2018.boxplot(column='usd_pledged',by='state');
kickstarter_2018.boxplot(column='usd_goal_real',by='state');

#### Ejercicio 6

Calcular los valores atípicos de 'usd_goal_real' y graficar los boxplots, con y sin estos valores por categoría

## 2.7. Evaluar cómo comprimir los datos 
para su almacenamiento más eficiente.

En la actualidad, en las nubes el almacenamiento no suele ser problema sino la velocidad para leerlo que suele ser determinante a la hora de determinar el formato de almacenamiento.

## 2.8. Guardar el set de datos con un nombre informativo.

EL problema de la ingeniería de software